{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-none d-md-block">
          {{>articles-list bipolar=true}}
        </div>
        <div class="col-md-8">
          <h1 class="title">Διπολική Διαταραχή</h1>
          <p>Η διπολική διαταραχή είναι μια διαταραχή που επηρεάζει τον εγκέφαλο και παρουσιάζεται με έντονες και
            απότομες αλλαγές στη διάθεση, στα επίπεδα ενέργειας και στην ικανότητα το άτομο να φέρνει εις πέρας
            καθημερινές δραστηριότητες. Η διπολική διαταραχή ανήκει στις διαταραχές συναισθήματος. Υπάρχουν 4 είδη
            διπολικής διαταραχής που όλα τους χαρακτηρίζονται από φάσεις πολύ χαμηλής ενέργειας και διάθεσης και συχνά
            συνοδεύονται και από σκέψεις για αυτοκτονία (αυτοκτονικός ιδεασμός) – περίοδος κατάθλιψης και από φάσεις
            πολύ υψηλής ενέργειας και διάθεσεις – περίοδος μανίας ή υπομανίας.</p>
          <p><strong>Διπολική διαταραχή τύπου Ι:</strong> περισσότερα τα μανιακά επεισόδια, διαρκούν τουλάχιστον 7 ημέρες. Τα επεισόδια
            αυτά είναι σοβαρά και περιλαμβάνουν υψηλά επίπεδα ενέργειας, μειωμένη κούραση, λίγες ώρες ύπνου,
            υπερδιέγερση, νευρικότητα, έλλειψη συγκέντρωσης, σπατάλη χρημάτων κ.ά. Στη διαταραχή τύπου 1 το άτομο
            παρουσιάζει και καταθλιπτικά επεισόδια που διαρκούν τουλάχιστον 2 εβδομάδες. Μπορεί επίσης να συνυπάρχουν
            μανιακά επεισόδια με κατάθλιψη.</p>
          <p><strong></strong>Διπολική διαταραχή τύπου ΙΙ:</strong> περισσότερα τα καταθλιπτικά επεισόδια. Το άτομο έχει τουλάχιστον ένα επεισόδιο
            υπομανίας.</p>
          <p><strong></strong>Κυκλοθυμία:</strong> πολλές περίοδοι υπομανίας και κατάθλιψης που διαρκούν τουλάχιστον 2 χρόνια (στην παιδική και
            εφηβική ηλικία τουλάχιστον 1 χρόνο). Τα συμπτώματα δεν καλύπτουν πλήρως τα κριτήρια για υπομανιακό επεισόδιο
            ή κατάθλιψη.</p>
          <p>Άλλες διπολικές διαταραχές: μεταπτώσεις που δεν πληρούν τα ανωτέρω κριτήρια.</p>
          <p>Η διπολική διαταραχή τύπου ΙΙ δεν είναι ηπιότερη από την Ι. Στη διπολική διαταραχή τύπου ΙΙ τα καταθλιπτικά
            επεισόδια είναι σοβαρά, ενώ στη διπολική διαταραχή τύπου Ι τα μανιακά επεισόδια είναι σοβαρά και συχνότερα.
          </p>
          <p>Η διπολική διαταραχή μπορεί να εμφανιστεί σε οποιαδήποτε ηλικία θεωρητικά, ωστόσο τυπικά διαγιγνώσκεται
            στην εφηβική ηλικία ή στη νεανική (περίπου 20 χρόνων). Τα συμπτώματα μπορεί να ποικίλουν από άνθρωπο σε
            άνθρωπο.</p>
          <table>
            <thead>
              <tr>
                <th>Μανία/ Υπομανία</th>
                <th>Κατάθλιψη</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="vertical-align: top">
                  <ul>
                    <li>Έντονη ενέργεια ή χαρά</li>
                    <li>Έντονη σωματική ή/και πνευματική δραστηριότητα </li>
                    <li>Λίγες ώρες ύπνου </li>
                    <li>Μιλάει γρήγορα </li>
                    <li>Πηδάει από το ένα θέμα στο άλλο</li>
                    <li>Ευερεθιστότητα/ Νευρικότητα </li>
                    <li>Αίσθημα ότι μπορούν να κάνουν πολλά πράγματα ταυτόχρονα </li>
                    <li>Ρισκάρουν πολύ, ξοδεύουν λεφτά, κάνουν επικίνδυνα πράγματα </li>
                  </ul>
                </td>
                <td style="vertical-align: top">
                  <ul>
                    <li>Μελαγχολία, αίσθημα κενού και απαισιοδοξίας</li>
                    <li>Πολύ χαμηλή ενέργεια</li>
                    <li>Μειωμένη σωματική ή/και πνευματική δραστηριότητα </li>
                    <li>Αλλαγές στον ύπνο (κοιμούνται πολύ ή λίγο) </li>
                    <li>Δεν ευχαριστιούνται τίποτα (ανηδονία) </li>
                    <li>Ανησυχία , άγχος</li>
                    <li>Δυσκολία συγκέντρωσης</li>
                    <li>Χαμηλή προσοχή </li>
                    <li>Τρώνε πολύ ή λίγο </li>
                    <li>Αίσθημα κούρασης</li>
                    <li>Σκέψεις για αυτοκτονία</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
          <p>Το άτομο κατά τη διάρκεια της υπομανίας μπορεί να μην αντιλαμβάνεται ότι κάτι δεν πάει καλά, αλλά το
            οικογενειακό του περιβάλλον μπορεί να διαπιστώσει την αλλαγή στη συμπεριφορά του.</p>
          <p>Η υπομανία διαφέρει από τη μανία ως προς τη σοβαρότητα. Κατά την υπομανία το άτομο παραμένει λειτουργικό
            και παραγωγικό.</p>
          <p>Η διπολική διαταραχή αντιμετωπίζεται με τη χρήση σταθεροποιητών διάθεσης, αντικαταθλιπτικών και
            αντιψυχωσικών. Η φαρμακευτική αγωγή κρίνεται απαραίτητη. Τα άτομα με διπολική διαταραχή συνήθως αποφεύγουν
            τη φαρμακευτική αγωγή κατά τη διάρκεια της (υπό)μανίας. Συνοδευτικά, τα άτομα με διπολική διαταραχή μπορούν
            να βοηθηθούν μέσω της ψυχοθεραπείας ώστε:</p>
          <ul>
            <li>να είναι λειτουργικοί στην καθημερινότητά τους</li>
            <li>να μάθουν τρόπους να διαχειρίζονται τις διαπροσωπικές και επαγγελματικές τους σχέσεις σε περιόδους
              έντονων μεταπτώσεων</li>
            <li>να παραμένουν συνεπείς στη φαρμακευτική τους αγωγή</li>
          </ul>
          <p>Τα αίτια της διπολικής διαταραχής δεν είναι γνωστά. Γενετικοί παράγοντες φαίνεται να σχετίζονται με τη
            διαταραχή, ωστόσο δεν αποτελούν τη μοναδική αιτία εμφάνισης της διαταραχής.</p>

          <div class="col-md-4 d-md-none">
            {{>articles-list bipolar=true}}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</div>{{>_end}}