{{>_start}} {{>header item_articles=true}}
<div class="wrapper"><section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-none d-md-block">
        {{>articles-list carers-counseling-support=true}}
      </div>
      <div class="col-md-8">
        <div class="title">
          <h2>Συμβουλευτική Υποστήριξη Φροντιστών</h2>
        </div>
        <p>
          Οι φροντιστές ονομάζεται και «δεύτεροι ασθενείς» και όχι τυχαία. Οι φροντιστές σηκώνουν το φορτίο της καθημερινής αντιμέτωπισης
          της νόσου. Αυτό μπορεί να έχει διάφορες επιπτώσεις τόσο στη σωματική όσο κυρίως στην ψυχική τους υγεία (αύξηση
          ποσοστού κατάθλιψης, διαταραχών άγχους, χαμηλή αυτοεκτίμηση κ.ά.) Για να μπορούν να βοηθήσουν καλύτερα και τους
          ασθενείς τους προσπαθούμε να επικεντρωθούμε στους φροντιστές και να βελτιώσουμε την ψυχική τους υγεία. Η συμβουλευτική
          υποστήριξη σκοπό έχει την εξεύρεση ισορροπίας στη ζωή των φροντιστών, την καλή ψυχολογική τους κατάσταση, την παροχή
          συμβουλών για την αντιμετώπιση πρακτικών καθημερινών ζητημάτων, την εξατομικευμένη ψυχολογική υποστήριξη καθώς
          και συμβουλές σχετικά με μη φαρμακευτικούς τρόπους αντιμετώπισης της νόσου και των συμπεριφορικών και ψυχιατρικών
          προβλημάτων που πιθανώς να υπάρχουν στην άνοια.
        </p>
      </div><div class="col-md-4 d-md-none">
        {{>articles-list carers-counseling-support=true}}
        </div>
    </div>
  </div>
</section>
{{>footer}}</div>{{>_end}}