{{>_start}} {{>header item_articles=true}}
<div class="wrapper"><section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-none d-md-block">
        {{>articles-list coaching=true}}
      </div>
      <div class="col-md-8">
        <div class="title">
          <h2>Coaching</h2>
        </div>

        <p class="text-center">
          <strong>Πώς το Life & Business Coaching μπορεί να αλλάξει τη ζωή και την καριέρα σου</strong>
        </p>

        <p class="text-center text-muted">
          Αν νιώθεις ότι η επιχείρησή σου έχει καθίσει στον πάγκο, αντί να παίζει μπάλα στο παρκέ...
          <br> χρειάζεσαι άμεσα έναν coach!
        </p>

        <h3>Τι είναι ο Life & Business Coach:</h3>
        <p>Ο Life & Business Coach είναι ένας πιστοποιημένος Coach, ο οποίος μπορεί να σε βοηθήσει σε ορισμένους τομείς της
          ζωής και της καριέρας σου, δανειζόμενος δράσεις από την Ψυχοθεραπεία και τη Συμβουλευτική. Ο Coach ΔΕΝ είναι ψυχοθεραπευτής.</p>

        <h3>Πότε πρέπει να απευθυνθώ σε έναν Life Coach;</h3>
        <p>Όταν θέλω:</p>
        <ul>
          <li>να βάλω προτεραιότητες στη ζωή μου</li>
          <li>να συνειδητοποιήσω τις αδυναμίες και τις δυνατότητές μου, για να τις βελτιώσω ή να τις αξιοποιήσω καλύτερα</li>
          <li>να υπερνικήσω εμπόδια</li>
          <li>να βάλω στόχους</li>
          <li>να δημιουργήσω ένα πλάνο δράσης</li>
          <li>να πετύχω περισσότερα</li>
          <li>να διευθετήσω προσωπικά θέματα.</li>
        </ul>

        <h3>Πότε πρέπει να απευθυνθώ σε έναν Business Coach;</h3>
        <p>Όταν θέλω:</p>
        <ul>
          <li>να δημιουργήσω ισορροπία μεταξύ καριέρας και προσωπικής ζωής</li>
          <li>να βρω τρόπους να αποφορτιστώ από το άγχος και την πίεση της δουλειάς</li>
          <li>να αλλάξω δουλειά</li>
          <li>να βελτιώσω τις δυνατότητές μου μέσα στη δουλειά</li>
          <li>να στήσω τη δική μου επιχείρηση</li>
          <li>να φτιάξω το βιογραφικό μου</li>
          <li>να ενδυναμώσω την επιχείρησή μου</li>
        </ul>

        <h3>Με ποιον τρόπο θα δουλέψουμε;</h3>
        <p>Σκεφτόμενοι πάντα με βάση το μέλλον και έχοντας ρεαλιστικές προσδοκίες, δημιουργούμε μαζί χρονοδιαγράμματα με σαφή
          σχέδια δράσης. Μένουμε προσηλωμένοι στο στόχο μας και συνεργαζόμαστε για να βρούμε τις καλύτερες λύσεις! </p>
        <p>Για να γίνει αυτό, καλό θα είναι:</p>
        <ul>
          <li>να γνωριστούμε καλύτερα</li>
          <li>να αποσαφηνίσουμε τι σημαίνει για σένα η λέξη επιτυχία</li>
          <li>να προσδιορίσουμε ποιο είναι το επιθυμητό αποτέλεσμα</li>
          <li>να θέσουμε συγκεκριμένους και απλούς στόχους (και μικρότερους «υποστόχους»)</li>
          <li>να αναπτύξουμε σωστές στρατηγικές </li>
          <li>να προωθήσουμε έξυπνα την επιχείρησή σου</li>
          <li>να καλλιεργήσουμε τα ταλέντα και τις επικοινωνιακές σου μεθόδους</li>
          <li>να ενισχύσουμε την αυτοπεποίθηση σου</li>
          <li>να δημιουργήσουμε κίνητρα</li>
          <li>να διατηρήσουμε ισορροπία μεταξύ της καριέρας και της προσωπικής σου ζωής</li>
        </ul>

        <p>Μαζί, λοιπόν, μπορούμε να ξεκινήσουμε μια δυνατή συνεργασία, βασισμένη στην εμπιστοσύνη, τον αλληλοσεβασμό και τις
          ρεαλιστικές προσδοκίες. </p>

        <p class="text-center text-muted">Το motto μας θα είναι το εξής:
          <br> τα γκολ τα βάζει πάντα
          <br> αυτός που είναι εντός του γηπέδου!

        </p>
      </div><div class="col-md-4 d-md-none">
        {{>articles-list coaching=true}}
        </div>
    </div>
  </div>
</section>
{{>footer}}</div>{{>_end}}