{{>_start}} {{>header item_articles=true}}
<div class="wrapper"><section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {{>articles-list dementia-and-alzheimer=true}}
      </div>
      <div class="col-md-8">
        <div class="title">
          <h2>Συχνές Ερωτήσεις για την Άνοια και το Alzheimer</p>
        </div>

        <h4>1. Η άνοια είναι διαφορετική από τη νόσο Alzheimer;</h4>
        <p>Η άνοια είναι ένας όρος που περιγράφει μια κατάσταση νοητικής έκπτωσης. Περιλαμβάνει πολλές ασθένειες, οι οποίες
          εκφυλίζουν τα κύτταρα του εγκεφάλου και, σταδιακά, οδηγούν σε νοητικά ελλείμματα. Η νόσος Alzheimer είναι η συνηθέστερη
          ασθένεια που μπορεί να προκαλέσει άνοια. Ωστόσο, υπάρχουν κι άλλες ασθένειες που μπορεί να οδηγήσουν σε άνοια,
          όπως π.χ. η νόσος του Parkinson.</p>

        <h4>2. Είμαι 40 ετών και νιώθω ότι ξεχνάω, μπορεί να έχω άνοια;</h4>
        <p>Σπάνια περίπτωση. Το πιθανότερο είναι να υποφέρετε από πρόβλημα προσοχής και συγκέντρωσης, εξαιτίας των πολλών υποχρεώσεων,
          του άγχους ή/ και της κατάθλιψης. Εφόσον όμως τα νοητικά σας προβλήματα σας εμποδίζουν στην καθημερινότητά σας,
          καλό θα ήταν να συμβουλευτείτε έναν ειδικό.</p>

        <h4>3. Ποια είναι τα πρώτα συμπτώματα της νόσου Alzheimer; Μπορώ να τα αναγνωρίσω στον εαυτό μου;</h4>
        <p>Τα σημάδια που θα πρέπει να σας προβληματίσουν είναι:</p>
        <li>επαναλαμβάνω τις ίδιες ιστορίες</li>
        <li>ρωτάω ξανά και ξανά τα ίδια πράγματα</li>
        <li>ξεχνάω τα ραντεβού μου – πρέπει να τα σημειώνω, ενώ παλαιότερα δεν το έκανα</li>
        <li>χάνω τα μικροαντικείμενά μου</li>
        <li>έχει τύχει να χαθώ, ή να μπερδευτώ, σε δρόμο που γνωρίζω πολύ καλά</li>
        <li>δυσκολεύομαι να βρω τις κατάλληλες λέξεις για να εκφραστώ</li>
        <li>η συμπεριφορά μου έχει αλλάξει, είμαι περισσότερο οξύθυμος, επιθετικός ή εσωστρεφής και μελαγχολικός.</li>
        </ul>
        <h4>4. Πότε θα πρέπει να επισκεφθώ έναν ειδικό;</h4>
        <p>Αν παρατηρήσετε κάποια από τα προαναφερθέντα συμπτώματα να διαρκούν, χωρίς να συντρέχει άλλος λόγος που θα μπορούσε
          να σας φέρνει σε τέτοια θέση (π.χ. έντονη θλίψη λόγω πένθους, ή κάτι ανάλογο). Επίσης, αν η καθημερινότητά σας
          έχει πλέον αλλάξει.
        </p>

        <h4>5. Αν έχω άνοια, θα πρέπει οπωσδήποτε να πάρω φάρμακα;</h4>
        <p>Ναι. Δεν υπάρχει άλλος τρόπος να επιβραδύνουμε την εξέλιξη της νόσου. Σκοπός μας είναι να συνεισφέρουμε όσο μπορούμε
          και με μη φαρμακευτικούς τρόπους ενδυνάμωσης του μυαλού (νοητική ενδυνάμωση), αλλά κάτι τέτοιο θα γίνεται παράλληλα
          με τη φαρμακευτική αγωγή, την οποία θα σας συνταγογραφήσει εξειδικευμένος νευρολόγος - ψυχίατρος.</p>

        <h4>6. Πού θα πρέπει να απευθυνθώ για τα φάρμακα;</h4>
        <p>Συνεργαζόμαστε με νευρολόγους – ψυχιάτρους που είναι εξειδικευμένοι στα προβλήματα μνήμης.</p>

        <h4>7. Ο άνθρωπός μου δεν ξεχνάει, αλλά η συμπεριφορά του έχει αλλάξει πολύ. Δεν είναι ο ίδιος άνθρωπος που ήταν πάντα,
          μερικές φορές δεν τον αναγνωρίζω. Τι να κάνω;</h4>
        <p>Μια πρώτη επίσκεψη σε ειδικό επαγγελματία υγείας ειδικευμένο στην άνοια θα μπορούσε να σας καθοδηγήσει σωστά πώς
          να χειριστείτε το θέμα.</p>

        <h4>8. Τι θα πρέπει να φέρω μαζί μου στην πρώτη μου επίσκεψη;</h4>
        <p>Οποιαδήποτε ιατρική εξέταση έχει κάνει ο ασθενής, την αισιοδοξία σας και, ασφαλώς, τον ίδιο τον ασθενή!</p>

        <h4>9. Τι ακριβώς είναι τα «συμπεριφορικά και ψυχιατρικά προβλήματα στην άνοια»;</h4>
        <p>Συμπεριφορικά και Ψυχιατρικά προβλήματα στην άνοια ονομάζουμε μια σειρά συμπεριφορών που εμφανίζονται εξαιτίας της
          άνοιας, τα οποία μπορεί, πολλές φορές, να επιταχύνουν τη νοητική έκπτωση, καθώς και να επιβαρύνουν συναισθηματικά
          τον φροντιστή. Υπάρχει φαρμακευτική και μη φαρμακευτική παρέμβαση για την καταστολή των συμπτωμάτων αυτών. Μερικές
          από τις εν λόγω ανεπιθύμητες συμπεριφορές μπορεί να είναι η κατάθλιψη, το άγχος, οι ψευδαισθήσεις, τα προβλήματα
          στον ύπνο, η απάθεια κτλ.
        </p>

        <h4>10. Πώς μπορώ να εκπαιδευτώ ώστε να μάθω περισσότερα πράγματα για την άνοια, για να μπορώ να φροντίζω καλύτερα τον
          άνθρωπό μου;
        </h4>
        <p>Παρέχονται ψυχοεκπαιδευτικά σεμινάρια εξ αποστάσεως (online μέσω skype) διάρκειας 5 εβδομάδων. Το πακέτο περιλαμβάνει
          10 συνεδρίες διάρκειας 1 ώρας και 15 λεπτών. Για περισσότερες πληροφορίες πατήστε εδώ.</p>
      </div>
    </div>
  </div>
</section>
{{>footer}}</div>{{>_end}}