{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-none d-md-block">
          {{>articles-list fobias=true}}
        </div>
        <div class="col-md-8">

          <h1 class="title">Νευρώσεις, Φοβίες</h1>


          <p>Οι νευρώσεις είναι νοητικές διαταραχές που περιλαμβάνουν χρόνιο στρες. Διαφέρουν από τις ψυχώσεις ως προς
            τη σοβαρότητα και την ένταση. Επιπλέον, οι νευρώσεις δεν περιλαμβάνουν παραληρητικές ιδέες και
            ψευδαισθήσεις. Υπάρχουν αρκετά είδη νευρώσεων:</p>
          <ul>
            <li>ιδεοψυχαναγκαστική διαταραχή</li>
            <li>αγχώδης διαταραχή</li>
            <li>υστερία</li>
            <li>φοβίες</li>
          </ul>

          <h2>
            Φοβίες:
          </h2>
          <p>Ως φοβίες ορίζονται οι υπερβολικοί φόβοι προς μια συγκεκριμένη κατάσταση ή αντικείμενο (π.χ.φοβία για τα
            φίδια, αγοραφοβία κτλ). Οι φοβίες χωρίζονται σε 3 κατηγορίες:</p>
          <p><strong>Ι) συγκεκριμένη φοβία:</strong> το άτομο έχει μια συγκεκριμένη φοβία που του δημιουργεί άγχος,
            ακόμα και κρίση πανικού. Οι πιο συνηθισμένες φοβίες μπορεί να σχετίζονται με ζώα, με πράγματα στη φύση, με
            καταστάσεις ή με οτιδήποτε σχετίζεται με το αίμα- βελόνες κτλ.</p>

          <p><strong>ΙΙ) αγοραφοβία:</strong> μια γενικευμένη φοβία κατά την οποία το άτομο φοβάται να συναναστραφεί
            πολύ κόσμο και μπορεί να εκδηλώνει κρίσεις πανικού όταν βρίσκεται σε μέρη με πολυκοσμία. Η αγοραφοβία μπορεί
            να περιλαμβάνει φοβία για την κοινωνική επαφή που ενδέχεται να πρέπει να αντιμετωπίσει το άτομο, φοβία μήπως
            μολυνθεί ή κολλήσει ασθένειες κατά την επαφή του με άλλους ή φοβία που σχετίζεται με τραυματική εμπερία που
            το άτομο υπέστη όσο βρισκόταν εκτός σπιτιού.</p>

          <p><strong>ΙΙΙ) κοινωνική φοβία:</strong> όταν το άτομο ανησυχεί ότι οι άλλοι τον επικρίνουν και τι γνώμη
            σχηματίζουν γι αυτόν.</p>


          <p>Οι φοβίες ποικίλουν και διαφέρουν από άτομο σε άτομο. Οι περισσότεροι αντιλαμβάνονται ότι ο φόβος τους
            είναι παράλογος αλλά νιώθουν αδύναμοι να τον υπερνικήσουν ή να διαχειριστούν τον πανικό τους. Οι κρίσεις
            πανικού που συνοδεύουν τις φοβίες μπορεί να παρουσιάζονται με ταχυκαρδία, εφίδρωση, αίσθηση ζάλης, αίσθημα
            ότι το άτομο τρελαίνεται ή θα πεθάνει, δύσπνοι, πόνο στο στομάχι και δυσκολία να σκεφτεί καθαρά.</p>


          <p>Οι φοβίες αντιμετωπίζονται με χρήση αντικαταθλιπτικής αγωγής ή/και αγχολυτικών. Η ψυχοθεραπεία είναι επίσης
            ένας μη φαρμακευτικός τρόπος αντιμετώπισης που μπορεί να συνοδέψει αποτελεσματικά τη φαρμακευτική αγωγή,
            ώστε να μάθει τεχνικές στο άτομο να διαχειρίζεται τις φοβίες του και το άγχος. Το 8-18% των Αμερικάνων
            πάσχουν από φοβίες. Εμφανίζονται συχνότερα τις γυναίκες. </p>



          <div class="col-md-4 d-md-none">
            {{>articles-list fobias=true}}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</div>{{>_end}}