{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-none d-md-block">
          {{>articles-list histrionic-personality-disorder=true}}
        </div>
        <div class="col-md-8">
          <h1 class="title">Histrionic Personality Disorder</h1>
          <p>Η οιστριονική διαταραχή προσωπικότητας (Histrionic Personality Disorder HPD) είναι μια συχνή διαταραχή
            προσωπικότητας
            (1%-3% πληθυσμού), σύμφωνα με την οποία το άτομο παρουσιάζει μια υπερβολική, δραματική και ευέξαπτη
            συμπεριφορά
            με σκοπό την προσέλκυση της προσοχής.</p>
          <p>Ιστορικά η διαταραχή αυτή φαίνεται να είναι απ’τις παλαιότερες που έχουν καταγραφεί ήδη από τους
            αρχαίους Έλληνες
            και Αιγύπτιους. Το οιστριονικό σύνδρομο έχει μελετηθεί από τον Σίγκμουντ Φρόυντ και μάλιστα έχει παίξει
            καταλυτικό
            ρόλο στην εξέλιξη της ψυχοαναλυτικής θεωρίας. </p>
          <p>Τα πρώτα σημάδια εμφάνισης της διαταραχής εντοπίζονται κυρίως στην εφηβική ηλικία. Τα άτομα με αυτό το
            σύνδρομο μπορεί
            να μιλούν, ντύνονται ή συμπεριφέρονται (ακόμα και σεξουαλικά) με έναν τρόπο εκκεντρικό, με σκοπό να
            προσελκύσουν
            την προσοχή των άλλων. Είναι συνήθως κοινωνικοί και προσπαθούν να διατηρήσουν τις κοινωνικές επαφές
            τους, ενώ δίνουν
            μεγάλη σημασία στην έγκριση των άλλων. Επιπλέον, τα άτομα αυτά πιθανώς να παρουσιάζουν συμπεριφορές
            χειραγώγησης
            προς τους άλλους, είναι ιδιαίτερα απαιτητικοί, ενώ η συμπεριφορά τους είναι ασυνεπής όταν νιώσουν ότι
            βαριούνται
            ή όταν δεν αποτελούν πια το σημείο της προσοχής. Βιώνουν την απόρριψη με έντονο και πολλές φορές
            μελοδραματικό
            τρόπο με αποτέλεσμα να προκαλούνται αρνητικά συναισθήματα και υπερβολικές συμπεριφορές. Ως αποτέλεσμα
            του αισθήματος
            απόρριψης, τα άτομα με τη διαταραχή αυτή απαιτούν από τον άλλον να αποδεικνύει συνέχεια την αγάπη του,
            τον θαυμασμό
            και τα θετικά του συναισθήματα, διότι έχουν έντονη την ανάγκη της αποδοχής. Η δυσλειτουργική τους σκέψη
            τις περισσότερες
            φορές μπορεί να συνοψιστεί στο δίπολο «αφού δεν αποτελώ το σημείο αναφοράς, άρα δε με αγαπάνε». </p>
          <p>Ένα άτομο με οιστριονικό σύνδρομο πιθανώς να προκαλεί από μόνο του εντάσεις, καυγάδες, ζήλειες και
            ανεξέλεγκτες κρίσεις
            θυμού, με σκοπό να βρεθεί ξανά στο επίκεντρο του ενδιαφέροντος του άλλου. Επιπλέον, είναι πιθανόν να
            παρουσιάζεται
            παρορμητική συμπεριφορά, απουσία θετικών εναλλακτικών σκέψεων, αυξημένο άγχος εγκατάλειψης και απόρριψης
            και χαμηλή
            ανοχή στις δύσκολες καταστάσεις.</p>
          <p>Πολλές φορές το οιστριονικό σύνδρομο συνυπάρχει με διαταραχή άγχους, δυσθυμία ή/ και κατάθλιψη. Τις
            περισσότερες
            φορές οι λόγοι που επισκέπτονται κάποιον ψυχολόγο είναι η κατάθλιψη.</p>
          <p>Δεν είναι σαφής η αιτιολογία του οιστριονικού συνδρόμου. Γενετικοί και βιολογικοί παράγοντες πιθανώς να
            παίζουν σημαντικό
            ρόλο, ωστόσο πρέπει να τονιστεί και η σημασία του περιβάλλοντος. Η ψυχοαναλυτική θεωρία εστιάζει στη
            σύνδεση κάποιου
            αγαπημένου προσώπου κατά τη διάρκεια της παιδικής ηλικίας με το σύνδρομο αυτό, ενώ οι γνωσιακές θεωρίες
            κάνουν
            λόγο για εξαρτητική συμπεριφορά.</p>
          <p>Αναφορικά με τη διάγνωση ο Bornstein (1998) χρησιμοποίησε την κλίμακα Rorschach για να μετρήσει τα
            επίπεδα εξάρτησης.
            Ωστόσο, έγκυρη δοκιμασία που να μπορεί να βρίσκει την ύπαρξη οιστριονικού συνδρόμου δεν υπάρχει, οπότε
            κρίνεται
            αναγκαία η λήψη ιστορικού και η συνέντευξη με το άτομο.</p>
          <p>5 από τα 8</p>
          <ul>
            <li>1) νιώθει άβολα αν δεν είναι το κέντρο της προσοχής</li>
            <li>2) προκλητική συμπεριφορά (πιθανώς και σεξουαλικώς)</li>
            <li>3) έντονες αλλαγές συναισθημάτων</li>
            <li>4) χρήση εξωτερικής εμφάνισης για να προσελκύσει το ενδιαφέρον</li>
            <li>5) λόγος που είναι πολύ εξπρεσσιονιστικός και εκφραστικός χωρίς όμως να μπαίνει σε λεπτομέρειες</li>
            <li>6) θεατρικότητα, υπερβολή στο λόγο και στις κινήσεις</li>
            <li>7) εύκολα επηρεάζεται συναισθηματικά από ανθρώπους και καταστάσεις</li>
            <li>8) δημιουργεί σχέσεις οικειότητας </li>
          </ul>
        </div>
        <div class="col-md-4 d-md-none">
          {{>articles-list histrionic-personality-disorder=true}}
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</div>{{>_end}}