{{>_start}} {{>header item_articles=true}}
<div class="wrapper"><section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {{>articles-list memory-test=true}}
      </div>
      <div class="col-md-8">
        <div class="title">
          <h2>Ψυχοδιαγνωστικά Τεστ Μνήμης</h2>
        </div>
        <p>Τα τεστ μνήμης σκοπό έχουν να εξετάσουν όλες τις νοητικές λειτουργίες μέσω απλών ερωτήσεων από την καθημερινότητα.
          Τα τεστ αυτά εξετάζουν λειτουργίες όπως ο λόγος, η κριτική ικανότητα, η προσοχή και η συγκέντρωση, η λεκτική ευχέρεια,
          η μνήμη, η οπτικοχωρική ικανότητα και οι επιτελικές λειτουργίες. Σκοπός τους είναι να εντοπίσουν πιθανά ελλείμματα
          και να λειτουργήσουν επικουρικά στη διάγνωση της άνοιας και του τύπου της άνοιας καθώς και στην καταγραφή της σοβαρότητας
          της νόσου. Η χρησιμότητα τους είναι ιδιαίτερως σημαντική τόσο στην αρχή της ασθένειας, όσο και στην πορεία γι αυτό
          συνίσταται να επαναλαμβάνονται κάθε περίπου 3-4 μήνες (κατ’ εντολή και του αρμόδιου γιατρού) για να εξετάζεται
          η εξέλιξη της νόσου. Επικουρικά, χρησιμοποιούμε και ερωτηματολόγια για την αξιολόγηση της συμπεριφοράς των ασθενών
          με άνοια. Τέλος, η εξέτασή μας ολοκληρώνεται με ερωτηματολόγια για τους φροντιστές και τη δική τους ψυχική υγεία,
          με σκοπό να βοηθήσουμε- εφόσον χρειάζεται- και εκείνους.
        </p>
      </div>
    </div>
  </div>
</section>
{{>footer}}</div>{{>_end}}