{{>_start}} {{>header item_articles=true}}
<div class="wrapper"><section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-none d-md-block">
        {{>articles-list mental-toughness=true}}
      </div>
      <div class="col-md-8">
        <div class="title">
          <h2>Νοητική Ενδυνάμωση Ασθενών</h2>
        </div>
        <p>
          Η νοητική ενδυνάμωση των ασθενών με άνοια σκοπό έχει να τονώσει το υγιές κομμάτι του εγκεφάλου και λειτουργώντας βοηθητικά
          με τη φαρμακευτική αγωγή να επιβραδύνει την εξέλιξη της νόσου και να διατηρήσουμε μια καλή εικόνα του ασθενούς
          για κάποιο χρονικό διάστημα. Οι ασκήσεις νοητικής ενδυνάμωσης ποικίλλουν: μπορεί να είναι ασκήσεις μνήμης, προσοχής
          και συγκέντρωσης, λόγου, οπτικοχωρικής ικανότητας ή επιτελικών δραστηριοτήτων ή και συνδυασμοί. Η νοητική ενδυνάμωση
          των ασθενών πραγματοποιείται είτε στο χώρο μας είτε στο χώρο σας.
        </p>
      </div><div class="col-md-4 d-md-none">
        {{>articles-list mental-toughness=true}}
        </div>
    </div>
  </div>
</section>
{{>footer}}</div>{{>_end}}