{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-none d-md-block">
                    {{>articles-list motivational=true}}
                </div>
                <div class="col-md-8">
                    <h1 class="title">
                        Πώς να παραμείνεις αφοσιωμένος και να μην χάνεις τα κίνητρα σου;
                    </h1>
                    <p>
                        <strong>
                            To να είσαι ηγέτης του εαυτού σου δεν είναι εύκολη υπόθεση. Είναι φυσικό να χάνεις τα
                            κίνητρα
                            σου. Εσύ πόσο συχνά χάνεις το κίνητρο σου; Μια φορά το μήνα; Μια φορά την εβδομάδα; Κάθε
                            μέρα;
                            Θες να δεις πώς μπορείς να μένεις motivated για περισσότερο χρονικό διάστημα;</strong></p>

                    <p>Η αλήθεια είναι πως το άγχος δεν βοηθάει στο να διατηρείς τα κίνητρα σου. Οι άνθρωποι που είναι
                        αγχωμένοι ζουν σε λήθαργο. Είναι περισσότερο διεκπεραιωτικοί, δεν υπάρχει χαρά στη δουλειά τους.
                        Από την άλλη η θέληση μας είναι πεπερασμένη. Είναι σαν ένα αυτοκίνητο που χρειάζεται βενζίνη για
                        να συνεχίσει να κινείται. Όταν η βενζίνη τελειώνει, το αυτοκίνητο σταματάει. Σε αντιστοιχία,
                        όταν τα κίνητρα τελειώνουν, μένουμε στάσιμοι. Τα καλά νέα είναι ότι μπορούμε να ανεφοδιάσουμε το
                        κίνητρό μας από οπουδήποτε. Ευτυχώς, ο εγκέφαλός μας είναι ισχυρός. Το άγχος βλάπτει τις
                        νευρικές συνάψεις στον εγκέφαλό μας, αλλά όταν αντιμετωπίζουμε το άγχος, μπορούμε κυριολεκτικά
                        να επανασυνδέσουμε και να αναζωογονήσουμε τον εγκέφαλό μας. Εδώ είναι πέντε βήματα που μπορείτε
                        να εφαρμόσετε κάθε φορά που αισθάνεστε ότι το κίνητρό σας εξαντλείται.</p>
                    <p><strong>1) Προσδιορίστε το είδος του άγχους που αντιμετωπίζετε</strong></p>
                    <p>Το άγχος έρχεται σε διαφορετικές εκφάνσεις. Είναι σημαντικό να προσδιορίσετε και να καταλάβετε τι
                        νιώθετε. Πρώτον, υπάρχει το άγχος του χρόνου. Εμφανίζεται όταν ανησυχείτε για κάποιο deadline,
                        εάν θα προλάβετε μια συνάντηση κτλ. Αυτό το άγχος ονομάζεται επίσης προγνωστικό άγχος. Ένας
                        άλλος τύπος άγχους συμβαίνει όταν αισθάνεστε ότι δεν έχετε τον έλεγχο. Εκεί νιώθετε ότι όλα
                        μπορεί να πάνε στραβά και πως δεν μπορείτε να κάνετε τίποτα για να το αποτρέψετε και νιώθετε
                        αδύναμος. Αυτό σας αγχώνει ακόμα περισσότερο. Τέλος, ένας άλλος τύπος άγχους είναι όταν
                        αλληλεπιδράτε με ανθρώπους που σας κάνουν κακό. Ένας συνάδελφος που είναι αρνητικός και φέρνει
                        γκρίνια και δυσκολίες μέσα στην ομάδα ή αντίστοιχα ένας φίλος, κάποιο μέλος της οικογένειας
                        κτλ., τείνει να μας στρεσάρει ακόμα περισσότερο εξαιτίας της συμπεριφοράς του. Είναι επίσης
                        σημαντικό να καταλάβετε εάν υποφέρετε από εξάντληση ή άγχος. Η εξάντληση συμβαίνει όταν το άγχος
                        συνεχίζεται για μεγάλο χρονικό διάστημα. Όταν υποφέρετε από εξάντληση, αισθάνεστε κουρασμένοι.
                        Το ανοσοποιητικό σας σύστημα επηρεάζεται και είναι πιο πιθανό να αρρωστήσετε. Αισθάνεστε επίσης
                        αβοήθητοι και εξακολουθείτε να χάνετε τα κίνητρα σας. Όταν αισθάνεστε άγχος, νιώθετε ότι
                        απαιτούνται πάρα πολλά από εσάς και μπορεί να αντιμετωπίσετε σωματικά προβλήματα, όπως μυϊκή
                        ένταση και πονοκεφάλους, αλλά δεν αισθάνεστε άδειοι και αποσπασμένοι όπως όταν αντιμετωπίζετε
                        την εξάντληση.</p>

                    <p><strong>2) Βρείτε έναν συνεργάτη</strong></p>
                    <p>Είναι πιο εύκολο να αντιμετωπίσετε το άγχος ως ομάδα. Προσπαθήστε να βρείτε κάποιον που θα σας
                        βοηθήσει να ξαναβρείτε το κίνητρό σας. Εάν έχετε χάσει τα κίνητρα για ένα έργο, μπορείτε να
                        δοκιμάσετε να συζητήσετε τα παραδοτέα σας με έναν συνάδελφο ή φίλο. Εάν έχετε χάσει τα κίνητρα
                        για να μάθετε μια νέα δεξιότητα, μπορείτε να δοκιμάσετε να μοιραστείτε τις γνώσεις και τις
                        εμπειρίες σας με έναν συνάδελφο. Εάν ο σύντροφος σας μπορεί να γίνει το αποκούμπι σας για να σας
                        τροφοδοτήσει ξανά με ενέργεια και κίνητρα, ζητήστε του να το κάνει. Ξεκινήστε μαζί του μια
                        δραστηριότητα, πάρτε παράδειγμα απ’ τη δική του πειθαρχία. Προσπαθήστε να ενθαρρύνετε ο ένας τον
                        άλλον. Η συζήτηση των εμπειριών σας με κάποιον άλλο μπορεί να αναζωογονήσει το ενδιαφέρον και τα
                        κίνητρά σας. Το να έχεις έναν συνεργάτη σε κρατά επίσης υπόλογο, οπότε δεν παρεκκλίνεις τόσο
                        εύκολα.</p>

                    <p><strong>3) Παρακολουθήστε την πρόοδό σας</strong></p>
                    <p>Άλλο η δράση άλλο η πρόοδος. Ακριβώς επειδή κινείστε δεν σημαίνει ότι προχωράτε. Όταν δεν ξέρετε
                        πού πηγαίνετε ή πόσο μακριά έχετε πάει, είναι φυσικό να έχετε χάσει τα κίνητρα σας. Εάν υπάρχουν
                        σαφείς κατευθύνσεις και ο στόχος είναι χωρισμένος σε άλλους μικρότερους μπορείτε να έχετε
                        επίβλεψη της προόδου σας. Το ότι κάνω πράγματα μες στη μέρα, δε σημαίνει απαραίτητα ότι πηγαίνω
                        προς το στόχο μου ή ότι είναι τα σωστά. Για να ξέρω εάν πηγαίνω εκεί που θέλω πρέπει να έχω ένα
                        σαφές πλάνο του πού κατευθύνομαι. Αλλιώς αγχώνομαι ότι ενώ κουράζομαι μες στη μέρα δεν καταφέρνω
                        κάτι, άρα όλα είναι μάταια. Έτσι νιώθω απογοήτευση και φυσικά χάνω τα κίνητρα μου. Οποιαδήποτε
                        πρόοδος είναι καλή πρόοδος. Όταν έχετε φτάσει σε κρίσιμα ορόσημα, να αντιμετωπίζετε τον εαυτό
                        σας με ανταμοιβή και να γιορτάζετε την επιτυχία σας. Το αξίζετε. Επιπλέον, θα σας βοηθήσει να
                        παραμείνετε αφοσιωμένοι.</p>

                    <p><strong>4) Να μάθετε να λέτε όχι</strong></p>
                    <p>Είναι σημαντικό να αποφύγετε την τάση να λέτε «ναι» σε όλα. Όταν σας ζητηθεί να κάνετε κάτι,
                        σταματήστε πριν απαντήσετε. Είναι σημαντικό να αφιερώσετε χρόνο για να σκεφτείτε εάν έχετε το
                        χρόνο, τις δεξιότητες και τους πόρους για να αναλάβετε κάτι. Και απενοχοποιηθείτε. Είναι ΟΚ να
                        πεις σε κάτι «όχι» και να μην το κάνεις. Το να πεις «όχι» δεν είναι εγωιστικό. Απλώς σημαίνει
                        ότι τιμάτε τις δεσμεύσεις σας. Δεν πρέπει να αισθάνεστε ένοχοι. Πρέπει να νιώθετε περήφανοι για
                        τον εαυτό σας. Όταν μαθαίνετε με βεβαιότητα να λέτε όχι, θα έχετε περισσότερο χρόνο και κίνητρο
                        για τη δουλειά που απαιτεί την προσοχή σας. </p>

                    <p><strong>5) Ακολουθήστε το πάθος σας</strong></p>
                    <p>Κάθε τόσο, κάντε ένα βήμα πίσω και αναλογιστείτε πόσο παθιασμένοι είστε για την τρέχουσα δουλειά
                        σας. Είστε παθιασμένοι με τη ζωή σας; Είστε παθιασμένοι με τους ανθρώπους με τους οποίους
                        εργάζεστε; Είστε παθιασμένοι με τον ρόλο σας; Τα όνειρα μας και τα κίνητρα μας αλλάζουν καθώς
                        προχωράτε στη ζωή μας. Θα πρέπει να επαναπροσδιορίζουμε τι θέλουμε κάθε χρόνο. Εάν δεν κάνετε
                        κάτι που σας ενδιαφέρει, το κίνητρό σας θα μειωθεί. Η έρευνα έχει δείξει ότι όταν είμαστε
                        παθιασμένοι με κάτι, βιώνουμε περισσότερη χαρά και αισθανόμαστε πιο ικανοποιημένοι. Η ροή του
                        αίματος στον εγκέφαλό μας αυξάνεται και εστιάζουμε περισσότερο. Αυτό αυξάνει τους
                        νευροδιαβιβαστές που είναι υπεύθυνοι για τη δημιουργία νέων συνδέσεων στον εγκέφαλό μας και
                        είμαστε σε θέση να επικεντρωθούμε στο παρόν, να αποφύγουμε τις ψυχικές παγίδες και να
                        αντισταθούμε στα αρνητικά συναισθήματα. Όταν έχετε κίνητρα, είστε πιο αφοσιωμένοι, λιγότερο
                        αγχωμένοι και πιο παραγωγικοί. </p>
                    <p>Το κίνητρο είναι μεταδοτικό, οπότε ακολουθήστε αυτά τα πέντε βήματα για να υπερφορτίσετε το
                        κίνητρό σας και να το διαδώσετε σε άλλους και στον κόσμο. Το πιο σημαντικό, φροντίστε τον εαυτό
                        σας. Αυτό το κάνεις για σένα!</p>
                </div>
                <div class="col-md-4 d-md-none">
                    {{>articles-list motivational=true}}
                </div>
            </div>
        </div>
    </section>
    {{>footer}}
</div>{{>_end}}