{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-none d-md-block">
          {{>articles-list narcissistic-personality-disorder=true}}
        </div>
        <div class="col-md-8">
          <h1 class="title">Ναρκισσιστικη Διαταραχη Προσωπικοτητας</h1>
          <p>Η ναρκισσιστική διαταραχή προσωπικότητας ορίζεται ως η υπερβολική ανάγκη του ατόμου για θαυμασμό,
            προσέλκυση της
            προσοχής, αυξημένη αίσθηση της σημαντικότητας του εαυτού και χαμηλή αντίληψη για τα συναίσθηματα και τις
            ανάγκες
            των άλλων ατόμων. Τα άτομα με τη διαταραχή αυτή πολλές φορές μπορεί να έχουν χαμηλή αυτοπεποίθηση και να
            είναι
            ιδιαίτερα επιρρεπή στην κριτική. Η ναρκισσιστική διαταραχή δημιουργεί πολλαπλά προβλήματα σε πολλούς
            τομείς της
            ζωής του ατόμου. Τα άτομα με τη διαταραχή αυτή βιώνουν αρνητικά συναισθήματα άγχους, μελαγχολίας,
            εγκατάλειψης
            και απόρριψης όταν δε λαμβάνουν την προσοχή που θεωρούν ότι τους αξίζει ή όταν αντιμετωπίζονται όπως οι
            υπόλοιποι
            άνθρωποι και δε χαίρουν ειδικής μεταχείρισης. Η διαταραχή εμφανίζεται σε περίπου 1% του γενικού
            πληθυσμού, ωστόσο
            σημαντικό φαίνεται να είναι ότι το 50%-75% των ατόμων με ναρκισσιστική διαταραχή προσωπικότητας είναι
            άντρες.</p>
          <p>Αναφορικά με τη διάγνωση της διαταραχής αυτής θα πρέπει να ισχύουν τουλάχιστον 5 από τα ακόλουθα
            συμπτώματα:</p>
          <ul>
            <li>1) αίσθηση ότι είναι πιο σημαντικός από τους άλλους (τα επιτεύγματά του και τα ταλέντα του είναι
              ανώτερα των άλλων)</li>
            <li>2) συχνά ονειροπολεί με φαντασιώσεις επιτυχίας, δύναμης, εξουσίας, ομορφιάς</li>
            <li>3) θεωρεί τον εαυτό του μοναδικό, ιδιαίτερο και ξεχωριστό και πως οι υπόλοιποι είναι κατώτεροι γι
              αυτό δεν τον
              καταλαβαίνουν
            </li>
            <li>4) απαιτεί θαυμασμό από τους άλλους</li>
            <li>5) το άτομο συχνά μονοπωλεί τη συζήτηση που περιστρέφεται γύρω από αυτόν</li>
            <li>6) έχει υπερβολικές απαιτήσεις από τους άλλους ή θέτει τις δικές του ανάγκες ως σπουδαιότερες των
              άλλων</li>
            <li>7) δυσκολία στη συναισθηματική νοημοσύνη (ενσυναίσθηση), στην κατανόηση δηλαδή του πώς μπορεί να
              αισθάνονται οι
              άλλοι
            </li>
            <li>8) έντονα συναισθήματα ζήλειας</li>
            <li>9) αλαζονική συμπεριφορά, υπεροπτική στάση</li>
            <li>10) εκμεταλλεύεται τους άλλους για να πετύχει το σκοπό του</li>
            <li>11) «διαφημίζει» τον εαυτό του ως τον καλύτερο (π.χ. ο πιο έξυπνος, ο πιο μορφωμένος, έχω το
              καλύτερο αυτοκίνητο
              κτλ)
            </li>

          </ul>
          <p>Τα άτομα με ναρκισσιστική διαταραχή μπορεί να γίνουν οξύθυμα και επιθετικά όταν νιώθουν πως δεν
            παίρνουν όσα τους
            αξίζουν, προσβάλλονται εύκολα από την κριτική των άλλων, δυσκολεύονται να αντιληφθούν τις ανάγκες και τα
            συναισθήματα
            των άλλων ανθρώπων, θεωρούν τις δικές τους ανάγκες ως σημαντικότερες και ότι θα πρέπει να εξυπηρετηθούν
            πρώτες,
            βιώνουν άγχος και μελαγχολία όταν δεν αναγνωρίζονται τα ταλέντα τους.</p>
          <p>Η αιτιολογία της διαταραχής δεν είναι ακόμα γνωστή. Πιθανότατα να εμπλέκονται βιολογικοί και
            περιβαλλοντικοί παράγοντες.
            Αναφορικά, με τους περιβαλλοντικούς παράγοντες η σχέση μεταξύ παιδιού- γονέων στην παιδική ηλικία είναι
            ιδιαίτερα
            σημαντική. Συνήθως, οι υπερπροστατευτικοί, υπερβολικά φιλόδοξοι και ελεγκτικοί γονείς πιθανώς να
            μεγαλώνουν παιδιά
            με ναρκισσιστική διαταραχή προσωπικότητας. Γονείς που ανεβάζουν ασυνήθιστα υψηλά τον πήχυ για τα παιδιά
            τους, έχουν
            υπερβολικές απαιτήσεις από αυτά, κριτικάρουν έντονα τη συμπεριφορά τους και τη συμπεριφορά των άλλων,
            ασκούν ψυχολογική
            βία και έχουν μια ασυνεπή συμπεριφορά απέναντι στα παιδιά τους, πιθανώς να δημιουργούν τις βάσεις για τη
            ναρκισσιστική
            διαταραχή.
          </p>
        </div>
        <div class="col-md-4 d-md-none">
          {{>articles-list narcissistic-personality-disorder=true}}
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</div>{{>_end}}