{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-none d-md-block">
                    {{>articles-list ocd-covid=true}}
                </div>
                <div class="col-md-8">
                    <h1 class="title">
                        Iδεοψυχαναγκαστικη διαταραχη (ocd) και πανδημια covid-19 πως ο ιος επηρεαζει την εμμονη για
                        πλυσιμο των χεριων
                    </h1>
                    <p>Το ξέσπασμα του κορονοϊού χαρακτηρίστηκε ως πανδημία από τον Παγκόσμιο Οργανισμό Υγείας τον
                        Μάρτιο του 2020. Παρόλο που η συχνότητα των ψυχικών διαταραχών αναμένεται να αυξηθεί κατά τη
                        διάρκεια πανδημιών, οι ιδιαιτερότητες της πανδημίας COVID-19 μπορούν να επηρεάσουν άμεσα την
                        κλινική πορεία της ιδεοψυχαναγκαστικής- διαταραχή (OCD), μια κατάσταση που επηρεάζει περίπου το
                        3% του γενικού πληθυσμού. Το OCD χαρακτηρίζεται από την παρουσία εμμονών (που είναι ανεπιθύμητες
                        και δυσάρεστες σκέψεις, εικόνες ή παρορμήσεις) ή / και καταναγκασμούς (επαναλαμβανόμενες
                        συμπεριφορές ή τελετές με στόχο τη μείωση της δυσφορίας που προκαλείται από τις εμμονές). Η
                        καθαριότητα, η μόλυνση και ο φόβος μήπως το άτομο προσβληθεί από μια ασθένεια, είναι συχνά
                        θέματα ανησυχίας για ασθενείς με OCD και έχουν πλέον γίνει κεντρικό θέμα των ειδήσεων και των
                        κοινωνικών μέσων. Έτσι, δημιουργείται το ερώτημα πώς η πανδημία COVID-19 επηρεάζει τα άτομα με
                        OCD;</p>

                    <p>Σύμφωνα με το τρέχον βιοψυχοκοινωνικό μοντέλο ψυχιατρικών διαταραχών, οι κοινωνικο-πολιτισμικοί,
                        βιολογικοί και ψυχολογικοί παράγοντες αλληλεπιδρούν συνεργατικά για να προσδιορίσουν την έναρξη
                        διαφορετικών διαταραχών. Αυτοί οι παράγοντες περιλαμβάνουν τις πεποιθήσεις και τις συμπεριφορές
                        του ασθενούς, οι οποίες μπορεί να επηρεαστούν από ιστορικές και περιβαλλοντικές αλλαγές. Τα
                        διαγνωστικά συστήματα ταξινόμησης, συμπεριλαμβανομένων των DSM-5 και ICD-11, περιλαμβάνουν τα
                        βασικά συμπτώματα των διαταραχών, καθώς και το επίπεδο δυσφορίας που βιώνουν οι ασθενείς και τον
                        αντίκτυπο που έχουν τα συμπτώματα στην καθημερινή λειτουργικότητα του ατόμου. Το συχνό πλύσιμο
                        των χεριών, το οποίο πριν από την πανδημία θεωρείτο υπερβολικό, είναι ένα από τα πιο κοινά
                        συμπτώματα του OCD, έχει πλέον γίνει καθημερινότητα πολλών ανθρώπων και δε θεωρείται παράλογο.
                    </p>

                    <p>Οι ασθενείς μπορεί να παρουσιάσουν επιδείνωση των συμπτωμάτων OCD σε θέματα καθαριότητας,
                        εξαιτίας της πανδημίας. Οι ασθενείς που δεν είχαν παρουσιάσει ποτέ τέτοια συμπτώματα μπορεί να
                        βιώσουν την εμφάνισή τους στο πλαίσιο αυτής της μείζονος περιβαλλοντικής αλλαγής. Επιπλέον, οι
                        ασθενείς με OCD μπορεί να παρουσιάσουν επιδείνωση των συμπτωμάτων κατάθλιψης και άγχους κατά τη
                        διάρκεια σημαντικών συμβάντων ζωής, μεταξύ των οποίων θα πρέπει να συμπεριληφθεί και η τρέχουσα
                        πανδημία.</p>

                    <p>Ένας συνηθισμένος και αποτελεσματικός τρόπος για να μειωθεί το OCD της καθαριότητας είναι η
                        έκθεση του ασθενούς σε ό,τι φοβάται περισσότερο, π.χ. τα μικρόβια. Ωστόσο, στον καιρό της
                        πανδημίας μια τέτοια μέθοδος κρίνεται ακατάλληλη και επικίνδυνη. Επίσης, το γεγονός ότι ο
                        Παγκόσμιος Οργανισμός Υγείας ενισχύει την προστασία της υγείας μέσω του συχνού και σχολαστικού
                        πλυσίματος των χεριών ενισχύει την πεποίθηση των ασθενών με OCD ότι καλώς πράττουν όταν δίνουν
                        χρόνο και έμφαση στην τελετουργία του πλυσίματος των χεριών τους. Κάτι τέτοιο φαίνεται να
                        επιδεινώνει την κατάσταση και να ισχυροποιεί τις πεποιθήσεις των ασθενών.</p>

                    <p>Όσοι ασθενείς με OCD ακολουθούν φαρμακευτική αγωγή ή / και ψυχοθεραπεία καλό θα ήταν να μην την
                        διακόψουν στην περίοδο της πανδημίας. Ο ψυχολόγος οφείλει να διαχωρίσει τη λεπτή (πολλές φορές)
                        διαχωριστική γραμμή μεταξύ της έλλογης προστασίας από τον ιό και της παράλογης εμμονής για
                        καθαριότητα και πλύσιμου των χεριών.</p>

                    <p><small>Βιβλιογραφία</small></p>

                    <p><small>Silva RM, Shavitt RG, Costa DL. Obsessive-compulsive disorder during the COVID-19
                            pandemic. Braz J Psychiatry.2020;0(0):</small></p>

                </div>
                <div class="col-md-4 d-md-none">
                    {{>articles-list ocd-covid=true}}
                </div>
            </div>
        </div>
    </section>
    {{>footer}}
</div>{{>_end}}