{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-none d-md-block">
          {{>articles-list ocd=true}}
        </div>
        <div class="col-md-8">
          <h1 class="title">Ιδεοψυχαναγκαστικη Διαταραχη</h1>
          <p>Η Ιδεοψυχαναγκαστική Διαταραχή είναι μια αγχώδης διαταραχή που ανήκει στις νευρώσεις. Είναι η 4η πιο
            διαδεδομένη
            ψυχική ασθένεια μετά την κατάθλιψη, τον αλκοολισμό και την κοινωνική φοβία.</p>
          <p>Το άτομο βιώνει άγχος για την εκτέλεση ορισμένων ιδεοληψιών που μπορεί να γίνονται με ψυχαναγκαστικό
            τρόπο: νιώθει
            δηλαδή ότι πρέπει π.χ. να ανοιγοκλείσει το φως συγκεκριμένα 3 φορές πριν βγει από το σπίτι για να
            βεβαιωθεί ότι
            το έκλεισε, αλλιώς βιώνει έντονο άγχος και δυσφορία. Οι περισσότεροι μπορούν να συνειδητοποιήσουν την
            ψυχαναγκαστική
            φύση των συμπεριφορών τους, αδυνατούν ωστόσο να τις σταματήσουν γιατί τους προκαλείται έντονο άγχος.
          </p>
          <p>Η Ιδεοψυχαναγκαστική Διαταραχή περιλαμβάνει Ιδεοληψίες και Ψυχαναγκαστικές συμπεριφορές. Ιδεοληψίες
            ονομάζουμε τις
            επαναλαμβανόμενες στερεοτυπικές σκέψεις που προκαλούν έντονο άγχος και δυσφορία. Ψυχαναγκαστική
            συμπεριφορά είναι
            η επαναλαμβανόμενη εκείνη συμπεριφορά που εφαρμόζει το άτομο για να κατευνάσει τις ιδεοληψίες.</p>

          <p>Η επαναληπτική αυτή συμπεριφορά «πρέπει» να πραγματοποιείται αλλιώς το άτομο βιώνει αρνητικά
            συναισθήματα. Π.χ. ένα
            άτομο με αρρωστοφοβία/ μικροβιοφοβία μπορεί να ψυχαναγκάζεται να πλένει τα χέρια του για συγκεκριμένη
            ώρα διότι
            έτσι έχει ορίσει μέσα του ότι θα φύγουν τα μικρόβια και κάθε φορά που γυρίζει στο σπίτι του να πρέπει να
            πλένει
            τα χέρια του για το συγκεκριμένο χρονικό διάστημα που έχει ορίσει (ψυχαναγκασμός) αλλιώς νιώθει
            ανησυχία, φόβο,
            δυσφορία, θλίψη και άγχος. Οι ψυχαναγκασμοί γίνονται για να αποτραπεί κάποιο συμβάν ή για να ακυρωθεί.
          </p>

          <p>Είναι συχνό φαινόμενο επίσης η ιδεοψυχαναγκαστική διαταραχή να συνοδεύεται από κατάθλιψη.</p>
          <p>Η Ιδεοψυχαναγκαστική Διαταραχή προσβάλλει εξίσου άντρες και γυναίκες και αφορά περίπου το 1,3% του
            παγκόσμιου πληθυσμού.
          </p>
          <p>Η αντιμετώπιση της Ιδεοψυχαναγκαστικής Διαταραχής περιλαμβάνει συμβουλευτική, ψυχοθεραπεία και εφόσον
            κριθεί απαραίτητο
            και φαρμακευτική αγωγή. Τα φάρμακα που χρησιμοποιούνται στη συγκεκριμένη περίπτωση είναι αναστολείς
            επαναπρόσληψης
            σεροτονίνης (SSRIs, αντικαταθλιπτική αγωγή) και στη δεύτερη γραμμή βοήθειας σε σπανιότερες περιπτώσεις
            όπου η κατάσταση
            κρίνεται περισσότερο σοβαρή μπορεί να χρησιμοποιηθεί και τρικυκλική αντικαταθλπιτική αγωγή
            (κλομιπραμίνη) ή λίθιο
            ή αντιεπιληπτική αγωγή.</p>
        </div>
        <div class="col-md-4 d-md-none">
          {{>articles-list ocd=true}}
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</div>{{>_end}}