{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-none d-md-block">
          {{>articles-list panic=true}}
        </div>
        <div class="col-md-8">
          <h1 class="title">Κρίσεις Πανικού</h1>
          <p>
            <strong>I) Τι είναι η διαταραχή πανικού;</strong>
          </p>
          <p> Η διαταραχή πανικού χαρακτηρίζεται από την επαναλαμβανόμενη παρουσία κρίσεων πανικού, που δεν μπορούν να
            εξηγηθούν
            εξαιτίας κάποιου άλλου ψυχιατρικού προβλήματος. Η διαταραχή πανικού ανήκει στις αγχώδεις διαταραχές.</p>
          <p>
            <strong>II) Τι είναι οι κρίσεις πανικού;</strong>
          </p>
          <p>Οι κρίσεις πανικού είναι οξείς αντιδράσεις άγχους και φόβου σε εσωτερικό ή εξωτερικό ερέθισμα που υπάρχουν
            για τουλάχιστον
            1 μήνα, χωρίς να συντρέχει άλλος ψυχιατρικός λόγος. Οι κρίσεις πανικού μπορεί να σχετίζονται και με αλλαγές
            στη
            συμπεριφορά (π.χ. αποφευκτική συμπεριφορά). Τα συμπτώματα εμφανίζονται ξανφικά, κορυφώνονται γρήγορα και
            διαρκούν
            λίγα λεπτά. Μια κρίση πανικού μπορεί να πυροδοτήσει το φόβο ότι θα επανεμφανιστεί.</p>
          <p>Το ¼ των ασθενών με διαταραχή πανικού εμφανίζουν επίσης αγοραφοβία (άγχος του ατόμου να βρεθεί σε μέρος
            όπου δύσκολα
            θα μπορεί να διαφύγει, συνήθως με πολύ κόσμο). Αν η διαταραχή πανικού συνυπάρχει με αγοραφοβία πιθανών να
            σχετίζεται
            με αυξημένη σοβαρότητα και χειρότερα αποτελέσματα. </p>
          <p>
            <strong>III) Συμπτώματα κρίσεων πανικού</strong>
          </p>
          <p>Οι κρίσεις πανικού περιλαμβάνουν τουλάχιστον 4 από τα 13 ακόλουθα συμπτώματα, για 1 μήνα ή και παραπάνω:
          </p>
          <ul class="no-style">
            <li>1) ταχυκαρδία</li>
            <li>2) πόνος στο στήθος</li>
            <li>3) εφίδρωση</li>
            <li>4) τρόμος των άκρων</li>
            <li>5) ζαλάδα</li>
            <li>6) έξαψη</li>
            <li>7) πόνος στο στομάχι</li>
            <li>8) τάση λιποθυμίας</li>
            <li>9) δυσκολία στην αναπνοή </li>
            <li>10) αγχωτικές σκέψεις (σκέψη ότι το άτομο θα τρελαθεί ή θα πεθάνει)</li>
            <li>11) αίσθημα αποπροσανατολισμού</li>
            <li>12) αίσθημα παγίδευσης</li>
            <li>13) παραισθησίες</li>
          </ul>
          <p>Οι κρίσεις πανικού μπορεί να εμφανιστούν «απ’το πουθενά» και οποιαδήποτε στιγμή (την ώρα ενός σημαντικού
            meeting,
            στα γενέθλια του παιδιού κ.ά.) και να τρομοκρατήσουν τον ασθενή με τα συμπτώματά τους. Το γεγονός ότι
            εμφανίζονται
            αιφνίδια και με οξύ τρόπο πυροδοτεί μεγαλύτερο άγχος στον ασθενή ότι η διαταραχή θα επανεμφανιστεί και
            μάλιστα
            την πιο ακατάλληλη στιγμή. Γι αυτό το λόγο, αρκετοί ασθενείς με διαταραχή πανικού εμφανίζουν και αγοραφοβία
            (κλείνονται
            σπίτι τους, αποφεύγουν το συνωστισμό, αποφεύγουν τα ΜΜΜ ή άλλες καταστάσεις ή και ανθρώπους που μπορεί να
            τους
            στρεσσάρουν). Μετά το πέρας μιας κρίσης πανικού ο ασθενής πιθανώς να αισθάνεται εξαντλημένος, σοκαρισμένος
            και
            περισσότερο φοβισμένος ότι αν ξαναπροκύψει δε θα μπορέσει να την σταματήσει ή ότι την επόμενη φορά δε θα
            την αντέξει
            (αισθήμα ότι θα τρελαθεί ή θα πεθάνει).</p>
          <p>Αρκετοί ασθενείς, πριν επισκεφθούν κάποιον ειδικό ψυχίατρο ή ψυχολόγο έχουν ήδη επισκεφθεί άλλους γιατρούς
            (συνήθως
            καρδιολόγους, ενδοκρινολόγους κτλ) καθότι πιστεύουν ότι τα συμπτώματα τους οφείλονται σε κάποια οργανική
            βλάβη.
            Ωστόσο, οι κρίσεις πανικού δεν είναι επικίνδυνες για να προκαλέσουν θάνατο. Αυτό δε σημαίνει όμως, πως τις
            αφήνουμε
            χωρίς αντιμετώπιση.</p>
          <p>
            <strong>IV) Πώς αντιμετωπίζεται;</strong>
          </p>
          <p>Υπάρχουν 3 τρόποι αντιμετώπισης:</p>
          <ul class="no-style">
            <li>1) φαρμακευτική αγωγή</li>
            <li>2) ψυχολογική υποστήριξη</li>
            <li>3) συνδυασμός φαρμακευτικής και ψυχολογικής υποστήριξης</li>
          </ul>
          <p> Συνίσταται ο 3ος τρόπος ως περισσότερο αποτελεσματικός. Ο λόγος που οι ασθενείς με αγχώδεις διαταραχές
            λαμβάνουν
            αντικαταθλιπτική αγωγή είναι γιατί συνήθως μαζί με το άγχος συνυπάρχει και κατάθλιψη. Οι σύγχρονες μελέτες
            έχουν
            δείξει πως η αντικαταθλιπτική αγωγή και συγκεκριμένα τα αντικαταθλιπτικά τύπου SSRIs και SNRIs (αναστολείς
            επαναπρόσληψης
            σεροτονιννορεπινεφρίνης) έχουν θετικά αποτελέσματα στη μείωση του άγχους και της κατάθλιψης. Ομοίως θετικά
            αποτελέσματα
            φαίνεται να έχουν και τα τρικυκλικά αντικαταθλιπτικά (αν και με ίσως πιο οξείς παρενέργειες).</p>
          <p> Οι βενζοδιαζεπίνες (π.χ. Lexotanil, Valium, Xanax, Tavor) που χρησιμοποιούνται ως ηρεμιστικά, στην
            περίπτωση των
            διαταραχών πανικού αν και χρησιμοποιούνται συχνά, τις περισσότερες φορές σε συνδυασμό με αντικαταθλιπτική
            αγωγή,
            δε θα πρέπει να υπολογίζονται ως πρώτη γραμμή βοήθειας, καθότι συχνά δημιουργούν εξάρτηση και σύνδρομο
            στέρησης
            όταν λαμβάνονται σε υψηλές δόσεις και για μεγάλο χρονικό διάστημα. Η αντιψυχωσική αγωγή δεν ενδείκνυται.</p>
          <p>
            <strong>V) Πού οφείλεται και πού εντοπίζεται στον εγκέφαλο;</strong>
          </p>
          <p>Η αιτιολογία της διαταραχής πανικού δεν είναι ακόμα πλήρως ξεκάθαρη και φαίνεται να παρουσιάζει
            ετερογένεια.</p>
          <p>Οι κρίσεις πανικού εντοπίζονται κατά κύριο λόγο στην περιοχή της αμυγδαλής και επίσης περιλαμβάνει τον
            ιππόκαμπο,
            το θάλαμο, τον υποθάλαμο, στην περιαγγειακή γκρίζα περιοχή, καθώς και σε άλλες περιοχές του εγκεφάλου.</p>
          <p>
            <strong>VI) Διαταραχή πανικού και εγκυμοσύνη</strong>
          </p>
          <p>Η σύγχρονη αντικαταθλιπτική αγωγή με SSRIs φαίνεται πως μειώνει κατά πολύ τις παρενέργειες και τον κίνδυνο
            για το
            βρέφος, ενώ ταυτόχρονα παραμένει αποτελεσματική για τη μείωση της κατάθλιψης και του άγχους. Συνίσταται
            προσεκτική
            αγωγή και συνεχής παρακολουθήση κατά τη διάρκεια της κυοφορίας και του θηλασμού. Η μη φαρμακολογική
            αντιμετώπιση
            της διαταραχής πανικού (ψυχολογική υποστήριξη) μπορεί να είναι ιδιαιτέρως βοηθητική.</p>
          <p>
            <strong>VII) Άλλες πληροφορίες</strong>
          </p>
          <p>Η διαταραχή πανικού είναι συνηθέστερη στις γυναίκες (2:1). Στις περιπτώσεις που συνοδεύεται από αγοραφοβία
            το ποσοστό
            αυξάνεται σε 3:1. Τις περισσότερες φορές η διαταραχή εμφανίζεται μεταξύ των τελευταίων ετών της εφηβείας
            και των
            35 ετών. Περιπτώσεις όπου η διαταραχή πανικού εμφανίζεται σε νεαρότερη ή πιο ώριμη ηλικία είναι πιθανόν, αν
            και
            όχι τόσο συνηθισμένο.
          </p>
          <ul>
            <li>Pignon B, Montcel CT, Carton L, Pelissolo A. The Place of Antipsychotics in the Therapy of Anxiety
              Disorders and
              Obsessive-Compulsive Disorders. Curr Psychiatry Rep, 2017; 19: 103.</li>
            <li>Sobanski T, Wagner G. Functional neuroanatomy in panic disorder: Status quo of</li>
            <li>the research. World J Psychiatr., 2017; 7(1): 12-33.</li>
            <li>Pompoli A, Furukawa TA, Imai H, Tajika A, Efthimiou O, Salanti G. Psychological therapies for panic
              disorder with
              or without agoraphobia in adults: a network meta- analysis. Cochrane Database of Systematic Reviews 2016,
              Issue
              4. Art. No.: CD011004.</li>
            <li>Imai H, Tajika A, Chen P, Pompoli A, Furukawa TA.</li>
            <li>Psychological therapies versus pharmacological interventions for panic disorder with or without
              agoraphobia in
              adults. Cochrane Datab System Rev. 2016; 10: CD011170.</li>
            <li>Bandelow B, Michaelis S, Wedekind D. Treatment of anxiety disorders. Dialogues Clin Neurosci., 2017;
              19(2): 93-107.</li>
          </ul>
        </div>
        <div class="col-md-4 d-md-none">
          {{>articles-list panic=true}}
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</div>{{>_end}}