{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-none d-md-block">
          {{>articles-list personality-disorder-b=true}}
        </div>
        <div class="col-md-8">
          <h1 class="title">Διαταραχές Προσωπικότητας</h1>
          <h2>Αντικοινωνική συμπεριφορά, Οιστριονική διαταραχή , Ναρκισσιστική διαταραχή, Οριακή διαταραχή
          </h2>

          <p>Η κατηγορία αυτή περιλαμβάνει διαταραχές προσωπικότητας που χαρακτηρίζονται από παρορμητικότητα
            και συναισθηματική αστάθεια.</p>

          <p>Η Αντικοινωνική Διαταραχή Προσωπικότητας χαρακτηρίζεται από εχθρότητα ή / και επιθετικότητα. Η
            εξαπάτηση και ο χειρισμός είναι επίσης βασικά χαρακτηριστικά. Σε πολλές περιπτώσεις μπορεί να
            εμφανιστούν αρχικά εχθρικές-επιθετικές και εξαγριωμένες συμπεριφορές κατά την παιδική ηλικία.
            Αυτά τα παιδιά μπορεί να βλάψουν ή να βασανίσουν ζώα ή ανθρώπους. Επίσης μπορεί να συμμετάσχουν
            σε εχθρικές πράξεις όπως ο εκφοβισμός. Συχνά επίσης μπορεί να εμπλέκονται σε εξαπάτηση, κλοπή
            και άλλες σοβαρές παραβιάσεις των προτύπων κανόνων συμπεριφοράς. Εκτός από την απερίσκεπτη
            αδιαφορία για τους άλλους, συχνά τοποθετούνται σε επικίνδυνες καταστάσεις. Ενεργούν χωρίς να
            σκέφτονται τις συνέπειες. Τα άτομα με αυτή τη διαταραχή σπανίως νιώθουν ενοχές για τη βλάβη που
            προκαλούν στους άλλους. Επιπλέον, δεν αναλαμβάνουν τις ευθύνες για τις ενέργειές τους.
            Κατηγορούν τα θύματά τους ότι τους προκάλεσαν με τη συμπεριφορά τους ή ότι άξιζαν ό,τι έπαθαν.
            Ξεχωρίζει από τις άλλες διαταραχές προσωπικότητας λόγω των επιθετικών χαρακτηριστικών. </p>


          <p>Τα άτομα με Οιστριονική Διαταραχή Προσωπικότητας χαρακτηρίζονται από υπερβολική
            συναισθηματικότητα. Η ζωή τους είναι γεμάτη δράμα (“drama queens”). Τα άτομα αυτά νιώθουν άβολα
            σε καταστάσεις όπου δεν είναι το επίκεντρο της προσοχής. Είναι συχνά αρκετά ερωτικά ή
            σαγηνευτικά και θέλουν να ντυθούν με τρόπο που να τους προσελκύουν τα βλέμματα. Παρόλο που η
            συναισθηματική τους έκφραση είναι υπερβολική και κάποιες φορές ακόμα και “θεατρινίστικη”,
            ταυτόχρονα είναι και ασαφής και ρηχή. Τα άτομα αυτά δυσκολεύονται στη σύναψη σταθερών
            διαπροσωπικών σχέσεων.</p>
          <ul>
            <li>θεατρινισμοί</li>
            <li>ψεύτικη αίσθηση οικειότητας</li>
            <li>επίκεντρο της προσοχής</li>
          </ul>

          <p>Τα άτομα με Ναρκιστική Διαταραχή Προσωπικότητας έχουν εσφαλμένη αυτοπεποίθηση και μια τάση ότι
            δικαιούνται περισσότερα πράγματα από τους άλλους ανθρώπους. Αυτό τους κάνει να πιστεύουν ότι
            αξίζουν ειδική μεταχείριση και ότι έχουν ειδικές εξουσίες. Πιστεύουν ότι είναι μοναδικά
            ταλαντούχα ή ότι είναι ιδιαίτερα λαμπρά ή ελκυστικά. Η αίσθηση του δικαιώματός τους μπορεί να
            τους οδηγήσει να ενεργούν αγνοώντας τους γύρω τους.Τα άτομα αυτά χάνονται στις ονειροπολήσεις
            τους, ενώ θεωρούν πως έχουν ανώτερη νοημοσύνη ή είναι υπερβολικά όμορφοι. Αυτοί οι άνθρωποι
            μπορούν να παγιδευτούν τόσο στις φαντασιώσεις τους, ώστε να μην καταβάλλουν καμία προσπάθεια
            στην καθημερινή τους ζωή και να μην κατευθύνουν τις ενέργειές τους προς την επίτευξη των στόχων
            τους. Η στάση τους πολλές φορές είναι αλαζονική και υπερήφανη. Τα άτομα με Ναρκιστική Διαταραχή
            της Προσωπικότητας συχνά αισθάνονται άβολα όταν συνειδητοποιούν ότι έχουν φυσιολογικούς, μέσους
            ανθρώπινους περιορισμούς, ότι δεν είναι τόσο ξεχωριστά όσο νομίζουν, ή ότι άλλοι δεν τους
            θαυμάζουν όσο θα ήθελαν. Αυτές οι αντιλήψεις συχνά συνοδεύονται από αισθήματα έντονης οργής ή
            ντροπής. Η ανάγκη τους να είναι ισχυροί και να τους θαυμάζουν, σε συνδυασμό με την έλλειψη
            συμπάθειας για τους άλλους, δημιουργούν συγκρουσιακές σχέσεις που συχνά είναι επιφανειακές και
            στερούνται πραγματικής οικειότητας και φροντίδας. Τα άτομα με αυτή τη διαταραχή απαιτούν πολύ
            θαυμασμό από άλλους ανθρώπους για να ενισχύσουν τη δική τους εύθραυστη αυτοεκτίμηση. Μπορούν να
            είναι χειραγωγικοί στο να αφαιρούν την απαραίτητη προσοχή από τους ανθρώπους γύρω τους.</p>
          <ul>
            <li>αρνητικοί απέναντι στην κριτική</li>
            <li>αίσθηση μεγαλείου</li>
            <li>υπερβολική ανάγκη για θαυμασμό</li>
            <li>αίσθηση ότι αξίζουν άλλη μεταχείριση</li>
          </ul>

          <p>Η Οριακή Διαταραχή Προσωπικότητας είναι μια διαδεδομένη διαταραχή. Τα άτομα τείνουν να βιώνουν
            έντονα και ασταθή συναισθήματα και διαθέσεις που μπορούν να αλλάξουν απότομα. Συχνά έχουν
            θυμωμένες εκρήξεις και εμπλέκονται σε παρορμητικές συμπεριφορές, όπως κατάχρηση ουσιών,
            επικίνδυνες σεξουαλικές επαφές, αυτοτιμωρίες ή αυτοκτονικά επεισόδια. Αυτές οι συμπεριφορές
            συχνά λειτουργούν για να τους απαλύνουν βραχυπρόθεσμα, αλλά τους βλάπτουν μακροπρόθεσμα. Μπορούν
            συχνά να αλλάξουν σταδιοδρομία, σχέσεις ή στόχους ζωής χωρίς προειδοποίηση ή προετοιμασία. Τα
            άτομα με τη διαταραχή αυτή βλέπουν τον κόσμο “άσπρο-μαύρο”. Αυτές οι πολωμένες σκέψεις σχετικά
            με τις σχέσεις τους με άλλους οδηγούν τους να βιώσουν έντονες συναισθηματικές αντιδράσεις. Το
            αποτέλεσμα είναι ότι τυπικά θα βιώσουν μεγάλη δυσφορία, την οποία δεν μπορούν να ελέγξουν εύκολα
            και στη συνέχεια οδηγούνται σε αυτοκαταστροφικές συμπεριφορές. Η ένταση των συναισθημάτων τους,
            σε συνδυασμό με τη δυσκολία τους να ρυθμίζουν αυτά τα συναισθήματα, τους οδηγεί στο να δράσουν
            παρορμητικά. Ας υποθέσουμε ότι ο σύντροφος μιας γυναίκας με οριακή διαταραχή δε θυμάται τα
            γενέθλιά της. Η ασπρόμαυρη σκέψη την αναγκάζει να καταλήξει στο συμπέρασμα ότι «δεν με αγαπάει
            πια» και στη συνέχεια στη σκέψη «Αν δεν με αγαπάει, τότε πρέπει να με μισεί». Τέτοιες σκέψεις θα
            μπορούσαν εύκολα να οδηγήσουν σε αρκετά έντονα συναισθήματα, όπως το αίσθημα της απόρριψης, της
            εγκατάλειψης, της θλίψης και του θυμού. Η ένταση των αρνητικών συναισθημάτων φαίνεται ανυπόφορη.
            Στη συνέχεια, το άτομο νιώθει την ανάγκη να "κάνει κάτι" έτσι ώστε αυτά τα συναισθήματα να
            εξαφανιστούν. Εδώ κυριαρχούν τα αυτοκαταστροφικά επεισόδια.</p>
          <ul>
            <li>παρορμητική συμπεριφορά</li>
            <li>αίσθημα κενού ή ανίας</li>
            <li>έντονα ξεσπάσματα θυμού</li>
            <li>κυκλοθυμίες</li>
          </ul>


          <p>Turner D, Sebastian A, Tuscher O. Impulsivity and Cluster B Personality Disorders. Curr
            Psychiatry Rep., 2017; 19(3): 15.</p>

          <p>Weinbrecht A, Schulze L, Boettcher J, Renneberg B. Avoidant Personality Disorder: a Current
            Review. Curr Psychiatry Rep., 2016; 18(3): 29.</p>

          <p>Repo-Tiihonen E, Hallikainen T. Antisocial personality disorder. Duodecim, 2016; 132(2): 130-136.
          </p>

          <div class="col-md-4 d-md-none">
            {{>articles-list personality-disorder-b=true}}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</div>{{>_end}}