{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-none d-md-block">
          {{>articles-list personality-disorder-a=true}}
        </div>
        <div class="col-md-8">
          <h1 class="title">Διαταραχές Προσωπικότητας</h1>
          <h2>Παρανοειδής, Σχιζοειδής, Σχιζότυποι Τύποι Διαταραχών Προσωπικότητας</h2>

          <p>Η κατηγορία αυτή ονομάζεται “εκκεντρική” κατηγορία. Περιλαμβάνει τύπους διαταραχών προσωπικότητας
            με κοινωνική αμηχανία ή απόσυρση που κυριαρχούνται από αποπροσανατολισμένη σκέψη.</p>
          <p>Η Παρανοϊκή διαταραχή προσωπικότητας χαρακτηρίζεται από διάχυτη δυσπιστία και καχυποψία για τους
            άλλους ανθρώπους. Τα άτομα με αυτή τη διαταραχή υποθέτουν ότι οι άλλοι θέλουν να τους βλάψουν,
            να επωφεληθούν από αυτούς ή/ και να τους ταπεινώσουν με κάποιο τρόπο. Καταβάλλουν προσπάθειες
            για να αυτο-προστατευτούν και να διατηρήσουν μια απόσταση από τους υπόλοιπους (κοινωνική
            απομάκρυνση). Έχουν την τάση να ζηλεύουν παθολογικά και δυσκολεύονται να εμπιστευτούν τους
            άλλους και να αναπτύξουν ουσιώδεις σχέσεις. Η συναισθηματική τους ζωή τείνει να κυριαρχείται από
            δυσπιστία και εχθρότητα.</p>
          <ul>
            <li>δυσκολία στο να εμπιστευτούν άλλους</li>
            <li>αδικαιολόγητη καχυποψία</li>
            <li>εσφαλμένη αντίληψη ότι οι άλλοι τους απειλούν ή τους προσβάλλουν</li>
            <li>τάση να διατηρούν μνησικακία</li>
            <li>παθολογική ζήλεια</li>
          </ul>
          <p>Η Διαταραχή της Σχιζοειδούς Προσωπικότητας χαρακτηρίζεται από κοινωνική απομάκρυνση και δυσκολία
            στη συναισθηματική έκφραση. Για αυτούς τους λόγους, τα άτομα με αυτή τη διαταραχή τείνουν να
            είναι κοινωνικά απομονωμένα. Δεν φαίνονται να αναζητούν ή να απολαμβάνουν στενές σχέσεις. Συχνά
            επιλέγουν μοναχικές δραστηριότητες που συνεπάγονται μικρή ανθρώπινη αλληλεπίδραση. Κοινωνικά
            φαίνονται απομονωμένοι, αποσπασμένοι και ψυχροί.</p>
          <ul>
            <li>προτιμούν να είναι μόνοι τους</li>
            <li>δυσκολία στη σύναψη στενών σχέσεων</li>
            <li>δυσκολία στην έκφραση των συναισθημάτων</li>
            <li>δυσκολία στο να αντιδράσει κατάλληλα σε συναισθηματικές καταστάσεις</li>
            <li>έλλειψη ενδιαφέροντος για σεξ</li>
          </ul>
          <p>Η Σχιζοτυπική διαταραχή προσωπικότητας χαρακτηρίζεται από οξεία δυσφορία στις κοινωνικές
            εκδηλώσεις και μειωμένη ικανότητα για στενές σχέσεις. Τα άτομα με τη διαταραχή αυτή
            δυσκολεύονται να αλληλεπιδράσουν κοινωνικά με άλλα άτομα. Όπως και τα άτομα με διαταραχή της
            σχιζοειδούς προσωπικότητας έτσι και άτομα με σχιζοτυπική διαταραχή αντιμετωπίζουν αντιληπτικές
            και γνωστικές στρεβλώσεις και εκκεντρική συμπεριφορά. Αυτές οι αντιληπτές ανωμαλίες μπορεί να
            περιλαμβάνουν την παρατήρηση φλας φωτός που κανείς άλλος δεν μπορεί να δει ή να δει αντικείμενα
            ή σκιές στη γωνία των ματιών τους και στη συνέχεια να συνειδητοποιήσει ότι τίποτα δεν υπάρχει.
            Τα άτομα με σχιζοτυπική διαταραχή προσωπικότητας έχουν περίεργες πεποιθήσεις, για παράδειγμα,
            μπορεί να πιστέψουν ότι μπορούν να διαβάσουν τις σκέψεις των άλλων ανθρώπων ή ότι οι σκέψεις
            τους έχουν κλαπεί από το κεφάλι τους. Η σχιζοτυπική διαταραχή της προσωπικότητας τείνει να
            απαντάται πιο συχνά σε οικογένειες όπου κάποιος έχει διαγνωστεί με σχιζοφρένεια.</p>
          <ul>
            <li>ιδιαίτερο στυλ ομιλίας ή ντυσίματος (εκκεντρικότητα)</li>
            <li>πιστεύουν ότι με τη σκέψη τους επηρεάζουν τα πράγματα</li>
            <li>ύπαρξη ψευδαισθήσεων (ακούνε πράγματα που δεν υπάρχουν)</li>
            <li>ασυνήθιστες πεποιθήσεις και συμπεριφορές</li>
          </ul>
          <p>Turner D, Sebastian A, Tuscher O. Impulsivity and Cluster B Personality Disorders. Curr
            Psychiatry Rep., 2017; 19(3): 15.</p>
          <p>Weinbrecht A, Schulze L, Boettcher J, Renneberg B. Avoidant Personality Disorder: a Current
            Review. Curr Psychiatry Rep., 2016; 18(3): 29.</p>
          <p>Repo-Tiihonen E, Hallikainen T. Antisocial personality disorder. Duodecim, 2016; 132(2): 130-136.
          </p>
          <p>
            <a href="/docs/personality_disorders_cluster_a.doc">
              <span class="fa fa-file"></span>
              personality_disorders_cluster_a.doc</a>
          </p>
          <div class="col-md-4 d-md-none">
            {{>articles-list personality-disorder-a=true}}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</div>{{>_end}}