{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-none d-md-block">
          {{>articles-list sad=true}}
        </div>
        <div class="col-md-8">
          <h1 class="title">Εποχική Κατάθλιψη</h1>
          <p>Η εποχική κατάθλιψη εμφανίζεται είτε κατά τους χειμερινούς είτε κατά τους καλοκαιρινούς μήνες. Η κατάθλιψη
            εμφανίζεται εξαιτίας της αλλαγής του καιρού. </p>
          <p>Συμπτώματα:</p>
          <ul>
            <li>αίσθημα μελαγχολίας τον περισσότερο χρόνο μέσα στην ημέρα, σχεδόν κάθε μέρα</li>
            <li>μειωμένο ενδιαφέρον για δραστηριότητες που γενικώς σου αρέσουν</li>
            <li>χαμηλή ενέργεια</li>
            <li>αλλαγές στο πρόγραμμα του ύπνου</li>
            <li>αλλαγές στην όρεξη στο φαγητό</li>
            <li>δυσκολία στην προσοχή και στη συγκέντρωση</li>
            <li>αίσθημα αδιέξοδου, απελπισίας, ενοχής</li>
            <li>σκέψεις θανάτου ή αυτοκτονίας</li>
          </ul>
          <p>Δε γνωρίζουμε τη σαφή <strong>αιτιολογία</strong> της εποχικής κατάθλιψης. Πιθανοί παράγοντες που την προκαλούν μπορεί να
            είναι:</p>
          <ul>
            <li>ιστορικό κληρονομικότητας</li>
            <li>διπολική διαταραχή</li>
            <li>πιο συνηθισμένα παρατηρείται σε κατοίκους που ζουν μακριά από τον Ισημερινό και αντιμετωπίζουν ακραίες
              συνθήκες (π.χ. 6 μήνες νύχτα, 6 μήνες μέρα κτλ).</li>
          </ul>
          <p>Αντιμετώπιση:</p>
          <p>Η εποχική κατάθλιψη μπορεί να αντιμετωπιστεί με <strong>φωτοθεραπεία</strong> (10.000 lux). Η έκθεση στον ήλιο μπορεί να μην
            είναι επαρκής. Υπάρχουν ειδικές λάμπες που εκπέμπουν λευκό φως και βοηθούν στη βελτίωση της κιρκαδιακού
            ρυθμού και του προγράμματος στον ύπνο.</p>
          <p>Επιπλέον, η <strong>αντικαταθλιπτική αγωγή</strong> μπορεί επίσης να είναι βοηθητική. Τα επίπεδα της ουσίας “σεροτονίνη”
            πέφτουν με αποτέλεσμα να δημιουργείται η κατάθλιψη.</p>
          <p>Η <strong>σωματική άσκηση</strong> βοηθάει τα επίπεδα της σεροτονίνης να αυξηθούν και άρα να μειώσουν τα καταθλιπτικά
            συμπτώματα.</p>
          <p>Η <strong>ψυχοθεραπεία</strong> βοηθάει τον πάσχοντα να αντιμετώπισει τα συμπτώματα και με μη φαρμακευτικούς τρόπους.</p>
        </div>
        <div class="col-md-4 d-md-none">
          {{>articles-list sad=true}}
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</div>{{>_end}}