{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-none d-md-block">
                    {{>articles-list time-management=true}}
                </div>
                <div class="col-md-8">
                    <h1 class="title">Η σωστή διαχείριση του χρόνου (Time Management)</h1>

                    <p> Η σωστή διαχείριση του χρόνου ή αλλιώς “time management” ονομάζεται η διαδικασία κατά την οποία
                        οργανώνεις το χρόνο σου έτσι ώστε να πραγματοποιήσεις τις καθημερινές σου δραστηριότητες. Η
                        σωστή διαχείριση του χρόνου βοηθάει στο να δουλεύεις “εξυπνότερα” και όχι σκληρότερα (όπως
                        πολλοί νομίζουν), ώστε να μπορείς να ολοκληρώνεις περισσότερες υποχρεώσεις σε λιγότερο χρονικό
                        διάστημα, ειδικά όταν πιέζεσαι από deadlines. Η κακή διαχείριση του χρόνου μπορεί να σου
                        κοστίσει σε παραγωγικότητα και αποτελεσματικότητα και να προκαλέσει άγχος.
                    </p>
                    <p> Πολλοί παραπονιούνται ότι δεν έχουν αρκετό χρόνο μέσα στην ημέρα για να κάνουν όλες τους τις
                        δουλειές. Αλλά από την άλλη η ημέρα έχει 24 ώρες για όλους. Εδώ δημιουργείται το ερώτημα, γιατί
                        κάποιοι άνθρωποι στο ίδιο χρονικό διάστημα μπορούν να πετύχουν περισσότερα πράγματα από κάποιους
                        άλλους; Η απάντηση έρχεται στη σωστή διαχείριση του χρόνου. Η σωστή διαχείριση του χρόνου
                        απαιτεί προσοχή και συγκέντρωση στο στόχο. Πολλοί άνθρωποι αργούν να εκπληρώσουν τις υποχρεώσεις
                        τους ή είναι αναβλητικοί επειδή αποσυγκεντρώνονται εύκολα. Κύριες αφορμές που μας αποσπούν την
                        προσοχή είναι: τα κινητά, το netflix, το youtube, τα social media κτλ. Για παράδειγμα, σου έχει
                        τύχει να θες να δουλέψεις, να ανοίγεις το youtube για να βάλεις λίγη χαλαρωτική μουσική για να
                        συνοδέψεις τη δουλειά σου και τελικά να καταλήγεις να χαζεύεις βιντεάκια και να καθυστερείς να
                        ξεκινήσεις ή να μην ξεκινάς να δουλεύεις ποτέ;
                    </p>
                    <p> Αυτό είναι με λίγα λόγια η κακή προσοχή ή η έλλειψη συγκέντρωσης.
                    </p>
                    <p> Πολύ σημαντικό για τη δημιουργία σωστής διαχείρισης χρόνου είναι να θέτεις προτεραιότητες. Αν
                        καταγράψεις σε ένα χαρτί όλες τις υποχρεώσεις που έχεις να κάνεις, έπειτα καλό θα ήταν να
                        χωρίσεις αυτές τις δραστηριότητες σε κατηγορίες. Οι πολύ σημαντικές και επείγουσες πρέπει να
                        γίνουν πρώτες και άμεσα. Οι πολύ σημαντικές αλλά όχι επείγουσες μπορούν να περιμένουν λίγες
                        μέρες, οι λιγότερο σημαντικές μπορούν να περιμένουν λίγο περισσότερο και οι μη σημαντικές και
                        όχι επείγουσες θα μετατεθούν για όταν υπάρξει ελεύθερος χρόνος.
                    </p>
                    <p> Βρες με ποιον τρόπο συνήθως αποσυγκεντρώνεσαι (είναι τα social media; είναι το κινητό;) και όταν
                        ξεκινήσεις τη δουλειά σου κλείστα ή άλλαξε τους δωμάτιο. Είναι πιο εύκολο να αντισταθείς σε κάτι
                        που δεν το έχεις στο οπτικό σου πεδίο, παρά σε κάτι που είναι συνεχώς μπροστά σου.
                    </p>

                    <p> Κάνε συχνά διαλείμματα από τη δουλειά σου για να ξεκουράζεται το μυαλό σου. Αλλά τα διαλείμματα
                        σου θα πρέπει να έχουν συγκεκριμένη διάρκεια και έπειτα να επιστρέφεις στη δουλειά.
                    </p>
                    <p> Έχε δίπλα σου ένα ποτήρι με νερό για να μην αφυδατώνεσαι. Η σωστή ενυδάτωση βοηθάει στη μνήμη
                        και στην καλύτερη διάθεση.
                    </p>
                    <p> Φτιάξε το περιβάλλον εργασίας σου να είναι φωτεινό, οργανωμένο και όμορφο. Να θες να δουλέψεις
                        σε αυτό το χώρο.
                    </p>
                    <p> Μην ξεχνάς ποτέ ΓΙΑΤΙ κάνεις ό,τι κάνεις. Μη χάνεις το μακροπρόθεσμο στόχο σου για χάριν μιας
                        πρόσκαιρης χαράς. Το βιντεάκι στο youtube θα είναι εκεί και σε δύο ώρες και σε δύο ημέρες και σε
                        δύο εβδομάδες. Μπορείς να το χαρείς όταν θα έχεις τελειώσει με τις υποχρεώσεις σου. Άπαξ και το
                        καταφέρεις μια φορά θα καταλάβεις πόσο δυνατός είσαι, πόσο παραγωγικός και πόσο δημιουργικός! Η
                        αυτοπεποίθηση σου θα ανέβει στα ύψη!
                    </p>
                </div>
                <div class="col-md-4 d-md-none">
                    {{>articles-list time-management=true}}
                </div>
            </div>
        </div>
    </section>
    {{>footer}}
</div>{{>_end}}