{{>_start}} {{>header item_articles=true}}
<div class="wrapper"><section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-none d-md-block">
        {{>articles-list vocational-guidance=true}}
      </div>
      <div class="col-md-8">
        <div class="title">
          <h2>Επαγγελματικός Προσανατολισμός</h2>
        </div>
        <p>Η επιλογή καριέρας για έναν έφηβο είναι μια από τις σημαντικότερες αποφάσεις που καλείται να πάρει. Η επιλογή κατεύθυνσης
          και η δημιουργία του μηχανογραφικού είναι τα πρώτα βήματα για να χτίσει το μέλλον του. Στοχεύουμε μέσω ειδικών
          τεστ προσωπικότητας να βοηθήσουμε τους εφήβους να επιλέξουν το καλύτερο μέλλον γι αυτούς.</p>
      </div><div class="col-md-4 d-md-none">
        {{>articles-list vocational-guidance=true}}
        </div>
    </div>
  </div>
</section>
{{>footer}}</div>{{>_end}}