{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-none d-md-block">
                    {{>articles-list work-from-home=true}}
                </div>
                <div class="col-md-8">
                    <h1 class="title">Εργασία από το σπίτι στον καιρό του κορονοϊού</h1>
                    <p>Η εργασία από το σπίτι, στις εποχές πριν από τον κορονοϊό μπορεί να φάνταζε όνειρο (η έλλειψη
                        μετακίνησης, η αποφυγή της πρωινής κίνησης στους δρόμους, το γεγονός ότι δε βλέπεις μερικούς
                        αντιπαθητικούς συναδέλφους στη δουλειά κ.τ.λ.), παρόλα αυτά τώρα, φαίνεται να είναι μια
                        πρόκληση.</p>

                    <p>Η πρόκληση έγκειται στο γεγονός ότι πολλοί άνθρωποι όταν βρίσκονται μακριά απ’ το χώρο εργασίας
                        τους έχουν μειωμένη αποδοτικότητα και μικρό αυτοέλεγχο. Ο αυτοέλεγχος ή η πειθαρχία είναι σαν
                        ένας «μυς» του σώματος, που για να ενδυναμώσει χρειάζεται εξάσκηση. Η εργασία από το σπίτι
                        μπορεί να απαιτεί σημαντικό αυτοέλεγχο. Τα περιβάλλοντα εργασίας έχουν δομηθεί έτσι ώστε να
                        εξυπηρετούν τις ανάγκες μας για συγκέντρωση και επίτευξη του στόχου. Και μόνο το γεγονός ότι
                        βρισκόμαστε σε έναν άλλο χώρο, απ’ αυτό του σπιτιού μας, ντυμένοι με άλλα ρούχα, απ’ αυτά του
                        σπιτιού μας, και αναγκαζόμαστε να συμπεριφερόμαστε όπως απαιτούν οι κοινωνικές περιστάσεις,
                        φαίνεται να είναι επαρκείς λόγοι για να μπούμε κατευθείαν σε μια άλλη ψυχολογία: στην ψυχολογία
                        της δουλειάς.</p>

                    <p>Όταν εργάζεστε από το σπίτι μπορεί να σημαίνει προσαρμογή σε νέες τεχνολογίες, αλλαγή μορφών
                        επικοινωνίας, αντιστάθμιση της απόσπασης της προσοχής από μέλη της οικογένειας, κατοικίδια ζώα ή
                        συνήθεις οικιακές δραστηριότητες ή διατήρηση κινήτρων όταν ο ήλιος λάμπει έξω. Η υπέρβαση αυτών
                        των απαιτήσεων και η εμπλοκή στην εργασία απαιτεί αυτοέλεγχο, ο οποίος με τη σειρά του μειώνει
                        τα επίπεδα ψυχικής ενέργειας, γιατί κάποιες φορές νιώθουμε ότι λειτουργεί ψυχαναγκαστικά.</p>

                    <p>Στο σπίτι μας οι περισπασμοί είναι αρκετοί. Στο χώρο εργασίας μειώνονται κατά πολύ. Επιπλέον, η
                        πράξη αποχώρησης (disconnect) μετά τη δουλειά στο σπίτι γίνεται περισσότερο δύσκολη. Όταν
                        βρισκόμαστε στο χώρο εργασίας μας, το γεγονός ότι κλείνουμε μια πόρτα και αφήνουμε εκεί τα
                        χαρτιά και το λαπτοπ της δουλειάς, μπαίνουμε στο αυτοκίνητο ή στο μετρό για να πάμε σπίτι μας,
                        όλη αυτή η διαδικασία αποτελεί «αποσύνδεση» από το περιβάλλον της δουλειάς. Στο σπίτι όμως κάτι
                        τέτοιο είναι δύσκολο. Τελειώνουμε τη δουλειά απ’ το σαλόνι του σπιτιού μας και θα πρέπει να
                        κάνουμε κι εκεί μια τελετουργία αποσύνδεσης. Όμως, βρισκόμαστε ήδη στο χώρο που θέλουμε να
                        ξεκουραστούμε. Στο χώρο που μετά από λίγο θέλουμε να αράξουμε στον καναπέ, να δούμε τηλεόραση ή
                        να παίξουμε με τα παιδιά και τα ζωάκια μας. Άρα, ουσιαστικά η αποσύνδεση από τον εργασιακό χώρο
                        και τα άγχη της δουλειάς, γίνεται δυσκολότερη, γιατί χώρος εργασίας και χώρος διασκέδασης είναι
                        ο ίδιος χώρος.</p>

                    <p>Καταρχάς, η διαχείριση του χρόνου εργασίας είναι το κλειδί, καθώς εργαζόμενοι από το σπίτι
                        τείνουν να εργάζονται περισσότερες ώρες σε σύγκριση με τους εργαζομένους στο γραφείο. Τα φυσικά
                        όρια μεταξύ των επαγγελματικών και οικιακών πτυχών της ζωής είναι δύσκολο μερικές φορές να
                        εφαρμοστούν και να τηρηθούν. Πολλοί σκέφτονται ότι εφόσον είμαι σπίτι μου, άρα δεν κουράζομαι
                        ιδιαίτερα, μπορώ να μείνω λίγη περισσότερα ώρα συνδεδεμένος στη δουλειά, μήπως με χρειαστούν
                        κάτι. Φυσικά, το ίδιο συμβαίνει και με πολλούς εργοδότες. Με το πρόσχημα ότι δεν κουράζεσαι στη
                        μετακίνηση, αναθέτουν περισσότερες δουλειές στους εργαζόμενους απ’ το σπίτι.</p>

                    <p>Μερικές συμβουλές για το πώς να βελτιώσετε την ψυχική υγεία και ευεξία όταν εργάζεστε από το
                        σπίτι:</p>
                    <ul>
                        <li>Δημιουργήστε έναν ειδικό χώρο εργασίας, ο οποίος θα πρέπει να είναι όσο το δυνατόν πιο
                            απαλλαγμένος από περισπασμούς.</li>
                        <li>Αναπτύξτε ένα πρόγραμμα, το οποίο περιλαμβάνει ώρες εργασίας, χωρίς αποσπάσεις και ώρες που
                            τις χρησιμοποιούμε ως διαλείμματα.</li>
                        <li>Εάν είναι δυνατόν, διαιρέστε και μοιραστείτε χρόνους αφιερωμένους στη φροντίδα παιδιών και
                            κατοικίδιων.</li>
                        <li>Οργανώστε την επικοινωνία email σας και διατηρήστε συγκεκριμένους χρόνους για να απαντήσετε
                            σε email (π.χ. θα απαντάω στα μειλ μου κάθε πρωί μεταξύ 9-9:30 και κάθε απόγευμα μεταξύ
                            5-5:30).</li>
                        <li>Προσπαθήστε να δημιουργήσετε απλές ή να ξεκινήσετε την εργάσιμη ημέρα σας με μια εύκολη
                            εργασία.</li>
                        <li>Ρυθμίστε συγκεκριμένους χρόνους για εργασία και αναψυχή - και ακολουθήστε αυτές τις ώρες
                            (π.χ. 9-11 δουλεύω, 11-11:30 κάνω διάλειμμα, 11:30-1:30 δουλεύω, 1:30-2:15 κάνω διάλειμμα
                            για μεσημεριανό, 2:15-5 δουλεύω).</li>
                        <li>Εάν είναι δυνατόν, εργαστείτε σε διαφορετικό δωμάτιο από αυτό που περνάτε τον ελεύθερο χρόνο
                            σας. Ιδιαίτερα αποφύγετε να εργάζεστε στην κρεβατοκάμαρά σας, καθώς μπορεί να σας
                            υπενθυμίζει θέματα που σχετίζονται με την εργασία, την ώρα που προσπαθείτε να κοιμηθείτε το
                            βράδυ. (Εάν δεν έχετε την επιλογή διαφορετικού δωματίου, προσπαθήστε να καθαρίσετε το χώρο
                            με ό, τι μπορεί να σας θυμίζει την εργασία).</li>
                        <li>Αποφύγετε όλες τις μορφές επικοινωνίας που σχετίζονται με την εργασία κατά τη διάρκεια της
                            ξεκούρασης.</li>
                        <li>Συμμετέχετε σε ξεκούραστες και ευχάριστες δραστηριότητες μετά τη δουλειά, οι οποίες να
                            μπορούν να σας ηρεμήσουν και να πάρουν το μυαλό σας απ’ τη δουλειά. Μερικά παραδείγματα
                            περιλαμβάνουν τη γυμναστική, το μαγείρεμα, το διαλογισμό και παιχνίδι με τα παιδιά ή τα
                            κατοικίδια ζώα σας.</li>
                    </ul>
                    <div class="col-md-4 d-md-none">
                        {{>articles-list work-from-home=true}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{>footer}}
</div>{{>_end}}