{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-none d-md-block">
                    {{>articles-list workplace-bullying=true}}
                </div>
                <div class="col-md-8">
                    <h1 class="title">Εργασιακό Bullying</h1>

                    <p>Ο εκφοβισμός είναι συνήθως γνωστότερος στο πλαίσιο του σχολείου, όπου ο “νταής” μαθητής, δείχνει
                        τη σωματική του δύναμη και προσπαθεί να επιβληθεί είτε σωματικά είτε λεκτικά σε άλλους μαθητές-
                        θύματα. Στην ενήλικη ζωή, ο εκφοβισμός είναι συνηθισμένος στο εργασιακό πλαίσιο, όπου εκεί
                        συνήθως το άτομο που έχει εξουσία επιβάλλεται στους υφισταμένους του. Είναι συνηθέστερο ένας
                        διευθυντής, προϊστάμενος κτλ (που έχει θέση εξουσίας) να επιβληθεί σε κάποιον υπάλληλο, χωρίς να
                        σημαίνει πως δεν υπάρχουν και περιστατικά εκφοβισμού από συναδέλφους. Στην ενήλικη ζωή, που τα
                        πράγματα δε μετριούνται με όρους σωματικής δύναμης – κατά κύριο λόγο- ο εκφοβισμός έρχεται μέσω
                        των χρημάτων, της θέσης εξουσίας, του φύλου ή άλλων κοινωνικών χαρακτηριστικών.</p>

                    <p>Για να υπάρξει εκφοβισμός προϋποτίθεται ότι υπάρχει ένας θύτης- ένας άνθρωπος δηλαδή που προκαλεί
                        μέσω της συμπεριφοράς του τρόμο, άγχος ή πανικό και ένα θύμα- ένας άνθρωπος δηλαδή που είναι σε
                        μειονεκτικότερη θέση και δέχεται τον τρόμο, το άγχος ή τον πανικό.</p>

                    <p>Είναι σημαντικό να τονιστεί ότι ο εκφοβισμός δεν είναι απαραίτητα μόνο σωματικός αλλά πολλές
                        φορές λεκτικός ή ψυχολογικός. Στην ενήλικη ζωή- κατά βάση- οι θύτες εκφοβίζουν τα θύματα τους με
                        απειλές, υποτιμήσεις, βρισιές ή ψυχολογικό πόλεμο περισσότερο απ' ότι με τη σωματική δύναμη. Η
                        εργασιακή κακομεταχείριση μπορεί να έχει τις εξής εκφάνσεις:</p>
                    <ul>
                        <li>εχθρικότητα</li>
                        <li>αγένεια</li>
                        <li>υποτίμηση</li>
                        <li>φωνές/ βρισιές</li>
                        <li>αλαζονική συμπεριφορά</li>
                        <li>επίκριση</li>
                        <li>κουτσομπολιό (κακεντρεχείς φήμες)</li>
                        <li>πρόκληση απομόνωσης</li>
                    </ul>

                    <p>Τα χαρακτηριστικά που θα πρέπει να έχει ο εκφοβισμός έτσι ώστε να ονομαστεί ως τέτοιος είναι:</p>
                    <ul>
                        <li>επαναληπτικότητα (το φαινόμενο δηλαδή να επαναλαμβάνεται)</li>
                        <li>διάρκεια</li>
                        <li>σκοπιμότητα </li>
                        <li>κλιμάκωση (το φαινόμενο να χειροτερεύει συνέχεια)</li>
                        <li>δημιουργία σχέσεων εξουσίας (κάποιος είναι ανώτερος και κάποιος κατώτερος)</li>
                    </ul>

                    <p>Ο εργασιακός εκφοβισμός είναι παράγοντας πρόκλησης έντονου άγχους για το θύμα. Η εργασία μας
                        καταλαμβάνει μεγάλο μέρος της καθημερινότητας μας και αν ο χώρος που δουλεύουμε είναι
                        απειλητικός ή εχθρικός τότε αυτό επηρεάζει την ψυχολογία μας και την αποδοτικότητα μας. Αν
                        υπάρχει τμήμα HR που μπορούμε να απευθυνθούμε οφείλουμε να το κάνουμε άμεσα. Αν νιώθουμε ότι
                        κάποιος σκόπιμα παραβιάζει τα όρια μας και ενώ του έχουμε επιστήσει την προσοχή, εκείνος
                        συνεχίζει τότε οφείλουμε να αυτοπροστατευτούμε και να μιλήσουμε σε έναν υπεύθυνο. Αν ο θύτης
                        κατέχει θέση τέτοια που να δυσκολεύει το να μιλήσουμε σε κάποιον υπεύθυνο, τότε οφείλουμε πολύ
                        σοβαρά να σκεφτούμε τι εναλλακτικές έχουμε. Το σίγουρο είναι πως δε γίνεται να επιτρέψουμε στον
                        εαυτό μας να θυματοποιείται και να γίνεται το αντικείμενο ειρωνείας και κακομεταχείρισης
                        κανενός.</p>
                    <p>Οι συνηθέστεροι τρόποι που ο θύτης προσπαθεί να επιβληθεί στο θύμα του είναι:</p>
                    <ul>
                        <li>να το κατηγορήσει για λάθη που στην πραγματικότητα δεν έχουν γίνει</li>
                        <li>να υποτιμήσει τη γνώμη του</li>
                        <li>να προκαλέσει το θύμα νευριάζοντας το για να δείξει μετά στους άλλους τον “κακό” του
                            χαρακτήρα</li>
                        <li>να επικαλεστεί κανόνες που το θύμα παραβιάζει, ενώ στην ουσία δεν υπάρχουν</li>
                        <li>να είναι έντονα και άδικα επικριτικός</li>
                        <li>να ενθαρρύνει συναδέλφους να τον απομονώσουν</li>
                        <li>να φωνάξει ή βρίσει ή χρησιμοποιήσει υποτιμητική γλώσσα</li>
                        <li>να αναθέσει στο θύμα μια εργασία ως τιμωρία ή εκδίκηση</li>
                        <li>να λέει ψέματα ή να διαδίδει φήμες για το θύμα</li>
                        <li>να απαιτεί πράγματα που είναι ανέφικτα</li>
                        <li>να κλέβει τη δουλειά του και να την παρουσιάζει ως δική του</li>
                        <li>να του συμπεριφέρεται σαν να είναι αποτυχημένος, χαζός ή ανίκανος</li>
                    </ul>

                    <p>Συνήθως οι θύτες παρουσιάζουν αντικοινωνική ή ναρκισσιστική ή ψυχαναγκαστική διαταραχή
                        προσωπικότητας.</p>


                </div>
                <div class="col-md-4 d-md-none">
                    {{>articles-list workplace-bullying=true}}
                </div>
            </div>
        </div>
    </section>
    {{>footer}}
</div>{{>_end}}