{{>_start}} {{>header item_articles=true}}
<div class="wrapper">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          {{>articles-list}}
        </div>
        <div class="col-md-8">
          <div class="empty-articles">
            <div class="icon">
              <span class="fa fa-newspaper"></span>
            </div>
            <p>Επιλέξτε ένα άρθρο απο την λίστα
              <br>για να διαβάσετε</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</div>
{{>_end}}