{{>_start}} {{>header item_bio=true}}
<div class="wrapper">
  <section>
    <div class="container">
      <h1 class="title">Βιογραφικό</h1>

      <div class="row">
        <div class="col-md-5">
          <img src="img/profile.png" class="img-thumbnail" alt="Φωτογραφία Τατιάνας">
        </div>
        <div class="col-md-7">
          <p>
            Η Τατιάνα Δημητρίου (PhD) είναι Νευροεπιστήμων και <strong>Διδάκτωρ της Ιατρικής Σχολής</strong> του
            Αριστοτελείου
            Πανεπιστημίου Θεσσαλονίκης. Είναι απόφοιτη του Πανεπιστήμιου Αθηνών με ειδίκευση στην Ψυχολογία, κάτοχος
            Μεταπτυχιακού Διπλώματος στην Εργασιακή Ψυχολογία από το Kingston University της Αγγλίας με ειδίκευση στον
            Επαγγελματικό Προσανατολισμό Εφήβων & Ενηλίκων και είναι επίσης κάτοχος Διπλώματος Life & Business Coaching
            από το Blackford Centre της Αγγλίας (Diploma Level 4, πιστοποιημένο από το ABC Awards). Στη διδακτορική της
            διατριβή ασχολήθηκε με την νόσο Alzheimer και τις συναφείς άνοιες.
          </p>
          <p>Έχει εμπειρία στη Συμβουλευτική Ψυχολογία από το 2012. Επίσης, έχει εργαστεί σε αρκετές ψυχιατρικές ομάδες,
            και διαθέτει μεγάλη εμπειρία στη διάγνωση της νόσου Alzheimer και των συναφών ανοιών, στη Νοητική Ενδυνάμωση
            των ασθενών, καθώς και στη Συμβουλευτική υποστήριξη των φροντιστών τους. Συγκεκριμένα, από το 2012 έως το
            2015 εξειδικεύθηκε στη διάγνωση της νόσου Alzheimer, τη νοητική ενδυνάμωση και τη συμβουλευτική υποστήριξη
            των φροντιστών των ασθενών, στο <strong>Ιατρείο Μνήμης του Νευρολογικού τμήματος του Νοσοκομείου «Γ.
              Γεννηματάς»</strong>, με
            υπεύθυνο τον Δρ. Ιωάννη Παπατριανταφύλλου. Το 2017 παρείχε τις υπηρεσίες της στην Ψυχογηριατρική μονάδα “Ο
            Νέστωρ” (Ι. Δροσοπούλου 22, Κυψέλη) στο πλαίσιο της διαφορικής διάγνωσης της άνοιας, της παροχής
            ψυχοδιαγνωστικών τεστ μνήμης και στη συμβουλευτική υποστήριξη των φροντιστών. Συνεργάστηκε ακόμα με το ΑΠΘ
            και την ΕΕ στο πρόγραμμα ASPAD και παρείχε εξ αποστάσεως συμβουλευτική υποστήριξη στους φροντιστές των
            ασθενών με άνοια. Έχει επίσης, εργασθεί ως <strong>Σύμβουλος επαγγελματικού προσανατολισμού</strong> από το
            2010 στα Αρσάκεια
            Σχολεία Ψυχικού, ενώ πλέον παρέχει τις υπηρεσίες της και από το ιδιωτικό της γραφείο, που βρίσκεται στο
            Χαλάνδρι.</p>

          <p>Ειδικεύεται επίσης στη <strong>διαχείριση του άγχους</strong>, της <strong>κατάθλιψης</strong>, των
            <strong>κρίσεων πανικού</strong> και στις <strong>διαταραχές
              προσωπικότητας</strong> (φοβίες, χαμηλή αυτοεκτίμηση, ιδεοψυχαναγκαστικές και άλλες διαταραχές).
            Εξειδικεύεται ακόμα
            στον επαγγελματικό προσανατολισμό (χορήγηση ψυχομετρικών τεστ επαγγελματικού προσανατολισμού σε εφήβους,
            καθοδήγηση για την επιλογή του κατάλληλου επαγγέλματος, βοήθεια στη δημιουργία του μηχανογραφικού,
            συμβουλευτική υποστήριξη σε θέματα καριέρας).</p>

          <p> Είναι εισηγήτρια δύο εξ αποστάσεως προγραμμάτων στο e-learning πρόγραμμα του Πανεπιστημίου Αθηνών. Το
            πρώτο με θέμα "νόσος Alzheimer και συναφείς άνοιες: παθολογία της τρίτης ηλικίας" και το δεύτερο με θέμα
            "διαταραχές προσωπικότητας: cluster C σε εφήβους και ενήλικες".
          </p>

          <p>Μιλάει άπταιστα Αγγλικά, και πολύ καλά Ρωσικά και Ισπανικά. Μένει στο Χαλάνδρι είναι χειμερινή κολυμβήτρια
            και στον ελεύθερο χρόνο της ασχολείται με το θέατρο, τη λογοτεχνία και τη συγγραφή.</p>

        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-2 text-center">
          <img class="pull-right" src="img/0_0_2.png" alt="εικονίδιο δημοσιεύσεων">
        </div>
        <div class="col-md-8">
          <h2>Δημοσιεύσεις</h2>


          <p>I) <strong>Dimitriou TD</strong>, Verykouki E, Papatriantafyllou J, Konsta A, Kazis D. Tsolaki M. Non-
            Pharmacological Interventions for sleeping disorders in patients with dementia. Paripex Ind J Res., 2018;
            7(12): 500-503. (IF: 6.941).</p>

          <p>II) <strong>Dimitriou TD</strong>, Verykouki E, Papatriantafyllou J, Konsta A, Kazis D. Tsolaki M.
            Non-Pharmacological Interventions for agitation/ aggressive behavior in patients with dementia. Funct
            Neurol., 2018; 33(3): 143-147. (IF: 1.855).</p>

          <p>III) <strong>Dimitriou TD</strong>, Tsolaki M. Evaluation of the efficacy of randomized controlled trials
            of sensory stimulation interventions for sleeping disturbances in patients with dementia: a systematic
            review. Clin Interv Aging, 2017; 12: 543-548. (IF: 2.651)</p>

          <p>ΙV) Tsolaki M, Zygouris S, Lazarou I, Kompatsiaris I, Chatzileontiadis L, Votis C, Tzovaras D, Karakostas
            A, Karagkiozi C, Dimitriou T, Tsiatsos T, Dimitriadis S, Tarnanas I, Dranidis D, Bamidis P. Our experience
            with informative and communication technologies (ICT) in dementia. Hell J Nucl Med., 2015; 1: 131-139.</p>

          <p>V) <strong>Non-Pharmacological Interventions for anxiety in patients with dementia: a cross-over
              RCT</strong> Dimitriou TD, Verykouki E., Papatrintafyllou J, Konsta A, Kazis D, et al. Behav Brain Res.,
            2020 [Epub ahead of print], (IF: 3)</p>

          <p>VI) Apostolidis, A. Karakostas, T. <strong>Dimitriou TD</strong>, Tsiatsos T, Tsolaki M. «Advanced
            Bio-feedback and Collaborative Techniques to Support Caregivers of Alzheimer Patients», 6th International
            Conference on Intelligent Networking and Collaborative Systems (INCoS-2014) Salerno, Italy, September 10 -
            12, 2014.</p>

          <p>VII) <strong>Dimitriou TD</strong>, Tsolaki M. Νοέμβριος-Δεκέμβριος 2011, τόμος 20, τεύχος 6, σελ.5-11:
            Δημοσίευση Ανασκόπησης στο Ιατρικό περιοδικό «Νευρολογία» με θέμα: «Οι κοινωνικές σχέσεις και η
            προσωπικότητα του ατόμου έχουν σχέση με την Άνοια;».</p>


        </div>
      </div>


      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h2>Συνδεθείτε μαζί μας:</h2>
          <a
            href="https://www.facebook.com/psychology.now/?eid=ARDvuAzDYeY24Nml0vfsZQn_6Ee4JT6FZRoSBRaE0QmckAkciV5GvdPpT4xB6cxHnzhXpnt5Tpd911E-">
            https://www.facebook.com/psychology.now/?eid=ARDvuAzDYeY24Nml0vfsZQn_6Ee4JT6FZRoSBRaE0QmckAkciV5GvdPpT4xB6cxHnzhXpnt5Tpd911E-</a>
        </div>
      </div>

    </div>
  </section>
  {{>footer}}
</div>{{>_end}}