{{>_header}} {{>preloader}} {{>header item_bio=true}}

<div class="section-padding">
  <div class="container">
    <div class="section-title">
      <h2>Βιογραφικό</p>
    </div>

    <div class="row">
      <div class="col-md-5">
        <img src="img/profile.png" class="img-thumbnail">
      </div>
      <div class="col-md-7">
        <p>
          Η Τατιάνα Δημητρίου είναι υποψήφια Διδάκτωρ της Ιατρικής Σχολής του Αριστοτελείου Πανεπιστημίου Θεσσαλονίκης,
          <strong>με ειδίκευση στην Άνοια</strong>.
        </p>
        <p>
          Έχει εργαστεί σε αρκετές ψυχιατρικές ομάδες, και διαθέτει μεγάλη εμπειρία στη διάγνωση της νόσου Alzheimer και των συναφών
          Ανοιών, στη Νοητική Ενδυνάμωση των ασθενών, καθώς και στη Συμβουλευτική Υποστήριξη των φροντιστών τους.
        </p>
        <p>
          Είναι απόφοιτος του Πανεπιστημίου Αθηνών με ειδίκευση στην
          <strong>Ψυχολογία</strong>, και κάτοχος Μεταπτυχιακού Διπλώματος Ειδίκευσης στην
          <strong>Εργασιακή Ψυχολογία</strong> (MSc) από το Kingston University του Λονδίνου, με ειδίκευση στον
          <strong>Επαγγελματικό Προσανατολισμό Εφήβων & Ενηλίκων</strong>. Είναι, επίσης, κάτοχος Διπλώματος στο
          <strong>Life & Business Coaching</strong> από το Blackford Centre της Αγγλίας (Diploma Level 4, πιστοποιημένο από το ABC
          Awards).
        </p>
        <p>
          Από το 2012 έως το 2015 εξειδικεύθηκε στη διάγνωση της νόσου Alzheimer, τη νοητική ενδυνάμωση και τη συμβουλευτική υποστήριξη
          των φροντιστών των ασθενών, στο
          <strong>Ιατρείο Μνήμης του Νευρολογικού τμήματος του Νοσοκομείου «Γ. Γεννηματάς»</strong>, με υπεύθυνο τον Δρ. Ιωάννη Παπατριανταφύλλου.
        </p>
        <p>
          Από το 2013 έως το 2016, σε συνεργασία με το Αριστοτέλειο Πανεπιστήμιο Θεσσαλονίκης και την επιστημονικά υπεύθυνη καθηγήτρια
          του ΑΠΘ κα. Μάγδα Τσολάκη,
          <strong>παρέδιδε online μαθήματα ψυχοεκπαίδευσης σε φροντιστές ασθενών με άνοια</strong>, ενώ το 2017 προσέφερε τις υπηρεσίες
          της στην
          <strong>Ψυχογηριατρική Εταιρεία «Ο Νέστωρ»</strong>, στο κέντρο της Αθήνας.
        </p>
        <p>
          Έχει επίσης, εργασθεί ως
          <strong>σύμβουλος επαγγελματικού προσανατολισμού</strong> από το 2010 στα Αρσάκεια Σχολεία Ψυχικού, ενώ πλέον παρέχει τις
          υπηρεσίες της και από το ιδιωτικό της γραφείο, που βρίσκεται στο Χαλάνδρι.
        </p>
        <p>
          Εκτός από τη νόσο Alzheimer, ειδικεύεται επίσης στη
          <strong>διαχείριση του άγχους</strong>, της κατάθλιψης και των
          <strong>κρίσεων πανικού</strong>
          (συμβουλευτική υποστήριξη, φοβίες, χαμηλή αυτοεκτίμηση, αγχώδεις διαταραχές, κατάθλιψη, ιδεοψυχαναγκαστικές διαταραχές) και
          στον επαγγελματικό προσανατολισμό (χορήγηση ψυχομετρικών τεστ επαγγελματικού προσανατολισμού σε εφήβους, καθοδήγηση
          για την επιλογή του κατάλληλου επαγγέλματος, βοήθεια στη δημιουργία του μηχανογραφικού, συμβουλευτική υποστήριξη
          σε θέματα καριέρας).
        </p>
        <p>
          Αρθρογραφεί τακτικά σε μεγάλα επιστημονικά περιοδικά, επάνω σε θέματα ψυχολογικού και νευρολογικού ενδιαφέροντος.
        </p>
        <p>
          Μιλάει άπταιστα Αγγλικά, και πολύ καλά Ρωσικά και Ισπανικά. Είναι χειμερινή κολυμβήτρια και ασχολείται με το θέατρο και τη
          συγγραφή.
        </p>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-2 text-center">
        <img class="pull-right" src="img/0_0_2.png">
      </div>
      <div class="col-md-8">
        <p>
          <strong>Επιστημονικές Δημοσιεύσεις</strong>
        </p>
        <p>Ι) Tsolaki M, Zygouris S, Lazarou I, Kompatsiaris I, Chatzileontiadis L, Votis C, Tzovaras D, Karakostas A, Karagkiozi
          C, Dimitriou T, Tsiatsos T, Dimitriadis S, Tarnanas I, Dranidis D, Bamidis P. Our experience with informative and
          communication technologies (ICT) in dementia. Hell J Nucl Med., 2015; 1: 131-139.</p>

        II) Dimitriou TD, Tsolaki M. Evaluation of the efficacy of randomized controlled trials of sensory stimulation interventions
        for sleeping disturbances in patients with dementia:
        <p>a systematic review.ClinInterv Aging, 2017; 12: 543-548.</p>

        <p>III) Apostolidis, A. Karakostas, T. Dimitriou TD, Tsiatsos T, Tsolaki M. «Advanced Bio-feedback and Collaborative
          Techniques to Support Caregivers of Alzheimer Patients», 6th International Conference on Intelligent Networking
          and Collaborative Systems (INCoS-2014) Salerno, Italy, September 10 - 12, 2014.</p>

        <p>IV) Νοέμβριος-Δεκέμβριος 2011, τόμος 20, τεύχος 6, σελ.5-11: Δημοσίευση Ανασκόπησης στο Ιατρικό περιοδικό «Νευρολογία»
          με θέμα: «Οι κοινωνικές σχέσεις και η προσωπικότητα του ατόμου έχουν σχέση με την Άνοια;».</p>

        <p>V) Ιανουάριος-Φεβρουάριος 2012, τόμος 21, τεύχος 1, σελ. 29-38: Δημοσίευση Ανασκόπησης στο Ιατρικό περιοδικό «Νευρολογία»
          με θέμα: «Οι μη φαρμακευτικές παρεμβάσεις στις διαταραχές συμπεριφοράς των ασθενών με άνοια».</p>
      </div>
    </div>
  </div>
</div>
{{>_footer}}