{{>_header}} {{>preloader}} {{>header item_articles=true}}
<div class="section-padding session-services session-services-sm">
  <div class="container">
    <div class="section-title">
      <h2>Κατάθλιψη</h2>
    </div>
    <p>Όλοι μας έχουμε νιώσει στεναχωρημένοι κάποιες φορές στη ζωή μας. Ακόμα και απελπισμένοι ή χωρίς διάθεση και ενέργεια
      να κάνουμε πράγματα. Αυτές οι φάσεις είναι φυσιολογικές και τις περισσότερες φορές νιώθουμε καλύτερα μετά από λίγο
      καιρό. Η κατάθλιψη όμως δεν είναι μια φάση που περνάει.</p>
    <p>
      <strong>I) Tι είναι η κατάθλιψη;</strong>
    </p>
    <p>Η κατάθλιψη είναι μια ασθένεια που δημιουργεί στον άνθρωπο έντονη στεναχώρια, μελαγχολία, αρνητικές σκέψεις, ανηδονία
      (δυσκολία στο να απολαύσω τα πράγματα που κάποτε με ευχαριστούσαν), κόπωση, χαμηλή αυτοεκτίμηση, αίσθημα ματαιότητας,
      μειωμένα κίνητρα για οτιδήποτε, έλλειψη ενέργειας, αίσθημα ότι «είμαι άχρηστος». Επηρεάζει τις διατροφικές μας συνήθειες
      (άλλοι τρώνε περισσότερο, άλλοι λιγότερο απ’το συνηθισμένο) και τον ύπνο (άλλοι κοιμούνται περισσότερες ώρες, άλλοι
      λιγότερο απ’το συνηθισμένο). Ο άνθρωπος που έχει κατάθλιψη είναι άρρωστος και πρέπει να παραπεμφθεί άμεσα για να του
      παρασχεθεί η καταλληλότερη για εκείνον θεραπεία.</p>
    <p>
      <strong>II) Ποια είναι τα συμπτώματα της;</strong>
    </p>
    <ul>
      <li>Αίσθημα απελπισίας και αδιέξοδου</li>
      <li>Έντονο αίσθημα στεναχώριας</li>
      <li>Τα πάντα φαίνονται μάταια</li>
      <li>Δυσκολία στο να ευχαριστηθώ πράγματα που κάποτε μου άρεσαν</li>
      <li>Έντονες φοβίες</li>
      <li>Αυξημένο άγχος</li>
      <li>Μειωμένη ενέργεια</li>
      <li>Έλλειψη κινήτρων</li>
      <li>Αίσθημα κόπωσης</li>
      <li>Χαμηλή αυτοεκτίμηση</li>
      <li>Αίσθημα ενοχικότητας («εγώ φταίω»)</li>
      <li>Δυσκολία στη συγκέντρωση (το μυαλό αφαιρείται σε άλλες σκέψεις)</li>
      <li>Έντονες αρνητικές σκέψεις</li>
      <li>Απάθεια και αδιαφορία για θέματα που κάποτε με απασχολούσαν</li>
      <li>Απομάκρυνση από φίλους, συγγενείς</li>
      <li>Μειωμένη απόδοση στη δουλειά</li>
      <li>Αγωνία για το μέλλον</li>
      <li>Αυτοκτονικός ιδεασμός</li>
    </ul>
    <p>Η κατάθλιψη πολλές φορές επηρεάζει και το σώμα μας:</p>
    <ul>
      <li>Αίσθημα κόπωσης</li>
      <li>Προβλήματα στη διατροφή </li>
      <li>Προβλήματα στον ύπνο</li>
      <li>Έλλειψη διάθεσης για σεξ</li>
      <li>Μειωμένη αντοχή στον πόνο</li>
    </ul>
    <p>
      <strong>ΙΙΙ) Ποιοι παθαίνουν κατάθλιψη;</strong>
    </p>
    <p>Ο καθένας μας μπορεί να πάθει κατάθλιψη. Είναι μια ασθένεια που δεν κοιτά ηλικίες, μορφωτικό επίπεδο ή φύλο. Η κατάθλιψη
      μπορεί να προέλθει από οποιαδήποτε κατάσταση που θα δημιουργήσει στον άνθρωπο έντονη στεναχώρια. Στις μεγαλύτερες ηλικίες
      (άνω των 60-65 ετών) αν παρουσιαστεί κατάθλιψη αυξάνει τις πιθανότητες για άνοια. Σε κάθε περίπτωση καλό είναι να ζητήσουμε
      βοήθεια έγκαιρα.</p>
    <p>
      <strong>IV) Ποια είναι η αιτία που παθαίνουμε κατάθλιψη;</strong>
    </p>
    <p>Η αιτία που προκαλεί την κατάθλιψη δεν είναι πλήρως εξακριβωμένη. Αρκετοί παράγοντες φαίνεται να παίζουν ρόλο. Κάποιοι
      από αυτούς τους παράγοντες είναι γενετικοί (πιθανώς σε ανθρώπους που έχουν στην οικογένειά τους ιστορικό με κοντινούς
      συγγενείς που είχαν/ έχουν κατάθλιψη να είναι πιθανότερο να έχουν και οι ίδιοι), άλλοι ψυχολογικοί (χρόνιες αγχώδεις
      διαταραχές, προσωπικότητα με χαμηλή αυτοεκτίμηση κ.ά.), άλλοι βιοχημικοί (ορμονικά προβλήματα) και κάποιοι περιβαλλοντικοί
      (συνθήκες, παρενέργειες φαρμάκων, εγκεφαλικό / καρδιακό επεισόδιο, θάνατος αγαπημένου προσώπου, μοναξιά κ.ά).</p>
    <p>
      <strong>V) Πώς αντιμετωπίζεται;</strong>
    </p>
    <p>Αρκετοί άνθρωποι με κατάθλιψη δεν αναζητούν βοήθεια από ντροπή ή επειδή πιστεύουν πως τα συμπτώματα θα υποχωρήσουν μόνα
      τους με τον καιρό. Οι δρόμοι για την αντιμετώπιση της κατάθλιψης είναι 3:</p>
    <ul>
      <li>φαρμακευτική αγωγή με αντικαταθλιπτικά φάρμακα</li>
      <li>συμβουλευτική ψυχολογία ή/και ψυχοθεραπεία</li>
      <li>συνδυασμός φαρμακευτικής αγωγής και ψυχολογικής υποστήριξης.</li>
    </ul>
    <p>
      <strong>VI) Άλλες πληροφορίες</strong>
    </p>
    <p>Σε αρκετές περιπτώσεις οι ασθενείς με κατάθλιψη γίνονται καλύτερα έπειτα από κάποιες εβδομάδες ή μήνες- ακόμα και χωρίς
      φαρμακευτική αγωγή σε κάποιες περιπτώσεις- και η κατάθλιψη τους δεν επανέρχεται. Άλλοι άνθρωποι υποφέρουν για μεγαλύτερο
      χρονικό διάστημα και πιθανώς όσο περνάει ο καιρός η κατάθλιψη να γίνεται εντονότερη με αποτέλεσμα να περάσουν στη «χρόνια
      κατάθλιψη». Τα τυπικά συμπτώματα της κατάθλιψης διαρκούν τουλάχιστον 2 εβδομάδες και μπορεί να συνεχιστούν για μήνες.
      Πρόσφατες μελέτες έχουν δείξει ότι οι μισοί ασθενείς με κατάθλιψη που δέχονται βοήθεια νιώθουν καλύτερα μετά το πέρας
      3-6 περίπου μηνών. Αν η κατάθλιψη επιστρέψει μετά τους έξι μήνες μιλάμε για «υποτροπή». Αν η κατάθλιψη επιστρέψει μετά
      τους έξι μήνες ή ακόμα και χρόνια μετά μιλάμε για «επαναλαμβανόμενη κατάθλιψη». Αν η κατάθλιψη διαρκεί για περισσότερο
      από 2 χρόνια μιλάμε για «χρόνια κατάθλιψη». </p>
  </div>
</div>
{{>_footer}}