{{>_header}} {{>preloader}} {{>header item_gallery=true}}

<div class="section-padding session-gallery">
  <div class="container">
    <div class="section-title">
      <h2>Gallery</p>
    </div>

    <div class="row" style="margin-bottom:2rem;">
      <div class="col-md-4">
        <img src="img/output-14.jpg">
      </div>
      <div class="col-md-4">
        <img src="img/output-12.jpg">
      </div>
      <div class="col-md-4">
        <img src="img/output-10.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="img/output-20.jpg">
      </div>
      <div class="col-md-4">
        <img src="img/output-18.jpg">
      </div>
      <div class="col-md-4">
        <img src="img/output-16.jpg">
      </div>
    </div>
  </div>
</div>
{{>_footer}}