{{>_start}} {{>header item_gallery=true}}
<div class="wrapper">
  <section class="gallery">
    <div class="container">
      <h1 class="title">Gallery</h1>

      <div class="row" style="margin-bottom:2rem;">
        <div class="col-md-4">
          <img src="img/output-14.jpg">
        </div>
        <div class="col-md-4">
          <img src="img/output-12.jpg">
        </div>
        <div class="col-md-4">
          <img src="img/output-10.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="img/output-20.jpg">
        </div>
        <div class="col-md-4">
          <img src="img/output-18.jpg">
        </div>
        <div class="col-md-4">
          <img src="img/output-16.jpg">
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</div>{{>_end}}