{{>_header}} {{>preloader}} {{>header item_index=true}}

<div style="    background-size: cover;
    z-index: 1;
    position: relative;
    height: 100%;
background-image: url(img/bg.jpg);
    background-position: center;">
	<div class="welcome-table">
		<div class="welcome-cell">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="welcome-text">
							<h1 class="theme-color" style="color:#2d9c87">Αυτό το κάνεις για σένα</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{>_footer}}