{{>_start}} {{>header item_index=true}}
<div class="espa-banner">
	<a target="_blank" href="/docs/espa-afisa.pdf">
		<img class="img-fluid" src="/img/orizontio2.jpg" alt="espa info banner" /></a>
</div>
<div class="welcome">
	<h1 class="welcome-text">
		Αυτό το κάνεις για σένα
	</h1>
	{{>footer}}
</div>
{{>_end}}