{{>_header}} {{>preloader}} {{>header item_index=true}}
<div class="home-welcome">
	<div class="welcome-text">
		<h1 class="theme-color" style="color:#2d9c87">Αυτό το κάνεις για σένα</h1>
	</div>
	{{>_footer}}
</div>