{{>_start}} {{>header item_index=true}}
<div class="espa-banner">
	<a target="_blank" href="/docs/afisa_a_kuklos NEW.PDF">
		<img class="img-fluid" src="/img/orizontio2.jpg" alt="espa info banner"></a>
</div>
<div class="welcome">
	<div class="welcome-text">
		Αυτό το κάνεις για σένα
	</div>
	{{>footer}}{{>_end}}
</div>