 {{>_header}} {{>preloader}} {{>header item_quotes=true}}

<div class="section-padding session-quotes">
  <div class="container">
    <div class="section-title">
      <h2>Είπαν για εμάς</p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <blockquote class="blockquote">
          <p>Ποιος να μου το έλεγε πως μια τυχαία συνάντηση μαζί σου πριν από 3 χρόνια θα μου άλλαζε ριζικά τη ζωή! </p>
          <p>Σε παρακολουθούσα καιρό τώρα βλέποντας και πιστεύοντας ότι είσαι αρκετά πετυχημένη και επαγγελματίας σε αυτό που
            κάνεις ( όντως το επιβεβαίωσα στην πορεία) και κάπως έτσι όταν ένιωσα ότι έχασα τον εαυτό μου και είχα πιάσει
            πάτο αποφάσισα να σου χτυπήσω την πόρτα και να ζητήσω τη βοήθεια σου ! </p>
          <p>Εσύ με τη σειρά σου την άνοιξες απλόχερα και μου έδωσες το χέρι σου για να σηκωθώ και να μπορέσω να συνεχίσω! </p>
          <p>Μου έδωσες δύναμη κουράγιο γέλιο μα πάνω από όλα πολλή πολλή αγάπη ! </p>
          <p>Ύστερα από 2 μήνες που σε έχω στο πλευρό μου έως ψυχολόγο ομολογώ ότι έχεις κάνει μια εξαιρετική δουλειά όπως άλλωστε
            και η ζωή εδώ μητέρα μου στο έχει αναγνωρίσει!</p>
          <p>Επίσης ένα από τα σημαντικότερα πράγματα είναι ότι αν κι εσύ στην Αθήνα και εγώ στο Παρίσι με την παρουσία σου
            και μόνο ( και φυσικά την καλή σου διάθεση και χαμόγελο) καλύπτεις στο λεπτό αυτό το κενό και αμέσως μου απορροφάς
            και διώχνεις όλη την αρνητική ενέργεια.</p>
          <p>Με κάνεις να νιώθω σαν να σε γνωρίζω χρόνια ...</p>
          <p>Σε ευχαριστώ ξανά για την όλη σου στήριξη και βοήθεια 10 με τόνο απλά εξαιρετική θα σε συνέστησα άνετα σε όλο τον
            κόσμο. Αυτό που έχεις καταφέρει μαζί μου με τόσο χιλιόμετρα απόσταση και έχοντας σε δει 1 φορά στη ζωή είναι
            πραγματικά αξιοθαύμαστο συνεχίζε να σκορπας αγάπη και να σηκώνεις όλους όσους έχουμε πέσει! </p>
          <footer class="blockquote-footer"> Μπάμπης Ματαλλιωτάκης ( O κ.Ματαλλιωτάκης ζήτησε ο ίδιος να είναι επώνυμη η αξιολόγησή του )</footer>
        </blockquote>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">

        <blockquote class="blockquote">
          <p>«Διερεύνη σε βάθος την περίπτωσή μου/ πάθησή μου: 10
            <br>Έμπειρος και καταρτισμένος: 9
            <br>Μου ενέπνευσε εμπιστοσύνη: 10
            <br>Συνεπής: 9
            <br>Προσιτός και φιλικός: 10
            <br>Εξαιρετική κοπέλα. Είχε αμεσότητα και αισθανόμουν οικία ήδη από την πρώτη φορά.
            <br>(από doctor anytime)»</p>
       <footer class="blockquote-footer">από doctor anytime</footer>
        </blockquote>

        <blockquote class="blockquote">
          <p>«Μια εξαιρετική επαγγελματίας, πρόθυμη και γεμάτη ενδιαφέρον να ακούσει το πρόβλημά που σε δυσκολεύει έτσι ώστε
            να σε βοηθήσει να νιώσεις αμέσως καλύτερα. Είναι πολύ επικοινωνιακή, δυναμική και εκπέμπει σιγουριά στο έργο
            που κάνει. Είναι ο άνθρωπος που θα σταθεί ολοκληρωτικά δίπλα σου στο πρόβλημα που έχεις με μεγάλη υπομονή και
            αφοσίωση. Είναι εξαιρετική σε αυτό που κάνει και δεν την αλλάζω με τίποτα!»</p>
        </blockquote>
      </div>
      <div class="col-md-8">
        <blockquote class="blockquote">
          <p>«Νιώθω σαν να είμαι στο σπίτι μου.»</p>
        </blockquote>

        <blockquote class="blockquote">
          <p>«Η αξιολόγηση ενός ψυχολόγου είναι καθαρά υποκειμενική καθώς μεγάλο ρόλο παίζει η "χημεία" που έχετε και το κατα
            πόσο σου ταιριάζει. Παρόλα αυτα όσον αφορά την Τατιάνα την θεωρώ πολύ καλή στη δουλειά της, όχι μόνο λόγω των
            γνώσεων της πάνω στο αντικείμενο ή της μεγάλης της ευκολίας να ''διαβάζει'' τους ανθρώπους αλλά κυρίως για την
            ικανότητα της να κάνει τον απέναντί της να την βλέπει όπως εκείνος θέλει και χρειάζεται να την δει. Είτε σαν
            ένα φίλο, είτε σαν ένα σύμβουλο, είτε και καθαρά σαν έναν ψυχολόγο, χωρίς όμως αυτό να συγχύζεται με τον πραγματικό
            της ρόλο! Και για αυτόν ακριβώς τον λόγο της θεωρώ προσωπικά ως εξαιρετική επαγγελματία πάνω στον αντικείμενο
            της.»
          </p>
        </blockquote>
        
        <blockquote class="blockquote">
          <p>«Όταν ξεκίνησα την ψυχοθεραπεία με την Τατιάνα, δεν φανταζόμουν ποτέ ότι μέσα σε ελάχιστον χρόνο θα ήταν το πρόσωπο
            που θα με ήξερε καλύτερα στη ζωή μου, καλύτερα και από μένα. Όταν αρχίσαμε τις συνεδρίες, η ζωή μου ήταν ένα
            κουβάρι από προβλήματα που έβαζα κάτω από ένα πέπλο φόβου, κρατώντας ισορροπίες που δεν με έκαναν ευτυχισμένο.
            Σταδιακά καταφέραμε -και συνεχίζουμε- να ψάχνουμε απαντήσεις στο «ποιος είμαι» και «τι κάνω» στη ζωή μου, κάτι
            που με οδηγεί όχι στο εύκολο, αλλά στο σωστό και καρποφόρο μονοπάτι της ζωής μου. Με την Τατιάνα καταφέρνω να
            απομακρύνομαι από τις ανώφελες βεβαιότητες που αναζητούσε ο ανασφαλής εαυτός μου, κάτι δύσκολο, αλλά όπως είπε
            ο Erich Fromm, αναγκαίο για να είμαι δημιουργικός και ευτυχισμένος».</p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
{{>_footer}}