{{>_header}} {{>preloader}} {{>header item_seminars=true}}

<div class="section-padding session-seminars">
  <div class="container">
    <div class="section-title">
      <h2>Ψυχοεκπαιδευτικά Σεμινάρια από απόσταση</p>
    </div>

    <p class="text-center">Το μόνο που χρειάζεστε για να παρακολουθήσετε τα σεμινάρια είναι ένας υπολογιστής με σύνδεση στο internet και ένας λογαριασμός
      στο skype, </p>
    <p class="text-center">τον οποίο μπορείτε να αποκτήσετε δωρεάν.</p>
    <p class="text-center">
      <img src="img/0_2_3.png" alt="">
    </p>


    <p class="text-center">Τα ψυχοεκπαιδευτικά σεμινάρια απευθύνονται τόσο σε φροντιστές των ασθενών με άνοια που επιθυμούν να επιμορφωθούν σχετικά
      με τη νόσο, την αντιμετώπισή της, την εξέλιξή της και την επίλυση των καθημερινών προβλημάτων, όσο και σε επαγγελματίες
      υγείας, αλλά και σε όποιον άλλον ενδιαφέρεται να εμπλουτίσει τις γνώσεις του σχετικά με τη νόσο Alzheimer και τις συναφείς
      άνοιες.
    </p>

    <p class="text-center">Τα σεμινάρια διεξάγονται μέσω skype. Είναι ομαδικά, και κάθε τμήμα περιλαμβάνει από 2 έως 5 ενδιαφερόμενους.</p>

    <p class="text-center">
      <img src="img/0_2_5.png" alt="">
    </p>


    <p class="text-center">Το πακέτο περιλαμβάνει συνολικά 10 μαθήματα, καθένα από τα οποία διαρκεί 1 ώρα και 15 λεπτά.</p>

    <p class="text-center">Η πρώτη μισή ώρα αφιερώνεται στην ψυχοεκπαίδευση, και για τα υπόλοιπα 45’ δίνεται ο λόγος στους συμμετέχοντες.</p>
    <p class="text-center">Σκοπός των ψυχοεκπαιδευτικών σεμιναρίων από απόσταση είναι:</p>
    <ul>
      <li>να σας παρέχω όσο το δυνατόν περισσότερες πληροφορίες σχετικά με την άνοια</li>
      <li>να λύσω τις απορίες σας</li>
      <li>να σας κατευθύνω στις καλύτερες δυνατές παρεμβάσεις, εξατομικευμένα για τον άνθρωπό σας</li>
      <li>να σας βοηθήσω στο πώς να αντιμετωπίζετε, από εδώ και στο εξής, τον άνθρωπό σας</li>
      <li>να λύσουμε μαζί τα καθημερινά προβλήματα που ανακύπτουν</li>
      <li>να σας παρέχω τη δυνατότητα μιας ατομικής συνεδρίας μαζί μου, που θα σας δώσει τη δυνατότητα να συνομιλήσουμε ιδιωτικά
        για οτιδήποτε σκέφτεστε και σας απασχολεί</li>
      <li>να σας παρέχω τη δυνατότητα 2 ομαδικών συμβουλευτικών συνεδριών όπου θα μπορέσετε να συνομιλήσετε με τους υπόλοιπους
        συμμετέχοντες και να ανταλλάξετε απόψεις και εμπειρίες</li>
      <li>να σας παρέχω τη δυνατότητα να κοινωνικοποιηθείτε με άλλους ανθρώπους που έχουν παρόμοια προβλήματα με εσάς</li>
      <li>να μη σας κουράσω με την κίνηση και τη βαβούρα της πόλης – συνδέεστε από τον δικό σας χώρο και την άνεση του σπιτιού
        σας, σε όποιο μέρος της Ελλάδας κι αν βρίσκεστε. </li>
    </ul>
  </div>
</div>

<div class="session-seminars" style="background: #f5f5f5;padding:2rem;">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <p class="text-center">
          <img src="img/0_1.png" alt="">
        </p>

      </div>
      <div class="col-md-3">

        <p>Διάρκεια του ψυχοεκπαιδευτικού σεμιναρίου από απόσταση: </p>
        <p style=" color: #6eabaf;">10 συνεδρίες από 2 φορές την εβδομάδα (συνολική διάρκεια 5 εβδομάδες)</p>
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-md-4">Διάρκεια μαθημάτων:
            <span class="times">75'</span>
          </div>
          <div class="col-md-4">Διάρκεια ατομικής συμβουλευτικής:
            <span class="times">50'</span>
          </div>
          <div class="col-md-4">Διάρκεια ομαδικής συμβουλευτικής:
            <span class="times">60'</span>
          </div>
        </div>
      </div>
    </div>
    <p>
      <em>Συνολικό κόστος: 150 ευρώ. Η τιμή περιλαμβάνει: 7 μαθήματα σχετικά με την άνοια και τη συζήτηση που θα ακολουθεί μετά,
        1 ατομική συμβουλευτική συνεδρία, 2 ομαδικές συμβουλευτικές συνεδρίες
      </em>
    </p>

  </div>
</div>
{{>_footer}}