{{>_header}} {{>preloader}} {{>header item_services=true}}
<div class="section-padding session-services">
  <div class="container">
    <div class="section-title">
      <h2>Πώς μπορώ να βοηθήσω;</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <img src="img/teens.png">
            </div>
            <h4>Για τους εφήβους</h4>
            <ul class="no-style">
              <li>
                <a href="/articles/vocational-guidance.html">επαγγελματικός προσανατολισμός</a> (επιλογή κατεύθυνσης, δημιουργία μηχανογραφικού)
              </li>
              <li>ψυχομετρικά τεστ προσωπικότητας και επιλογή καριέρας, εξεύρεση ταλέντων και κλίσεων</li>
              <li>ατομική συμβουλευτική</li>
              <li>
                <a href="/articles/bullying.html">προβλήματα εκφοβισμού (bullying)</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <img src="img/adults.png">
            </div>
            <h4>Για τους ενήλικες</h4>
            <ul class="no-style">
              <li>αγχώδεις διαταραχές και
                <a href="/articles/depression.html">κατάθλιψη</a>
              </li>
              <li>
                <a href="/articles/panic.html">κρίσεις πανικού</a>
              </li>
              <li>ιδεοψυχαναγκαστική διαταραχή</li>
              <li>
                <a href="/articles/coaching.html">υπηρεσίες Life & Business Coaching</a>
              </li>
              <li>προβλήματα στο γάμο</li>
              <li>σεξουαλικές διαταραχές</li>
              <li>ατομική συμβουλευτική</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <img src="img/olds.png">
            </div>
            <h4>Για τους λίγο μεγαλύτερους</h4>
            <ul class="no-style">
              <li>νόσος Alzheimer και συναφείς άνοιες</li>
              <li>
                <a href="/articles/memory-test.html">ψυχοδιαγνωστικά τεστ μνήμης</a>
              </li>
              <li>
                <a href="/articles/mental-toughness.html">νοητική ενδυνάμωση ασθενών</a>
              </li>
              <li>
                <a href="/articles/carers-counseling-support.html">συμβουλευτική υποστήριξη φροντιστών</a>
              </li>
              <li>ψυχοεκπαιδευτικά σεμινάρια με σκοπό την επιμόρφωση σε θέματα άνοιας και ομαδικής συμβουλευτικής </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{>_footer}}