{{>_header}} {{>preloader}} {{>header item_articles=true}}
<div class="section-padding session-services session-services-sm">
  <div class="container">
    <div class="section-title">
      <h2>Επαγγελματικός Προσανατολισμός</h2>
    </div>
    <p>Η επιλογή καριέρας για έναν έφηβο είναι μια από τις σημαντικότερες αποφάσεις που καλείται να πάρει. Η επιλογή κατεύθυνσης
      και η δημιουργία του μηχανογραφικού είναι τα πρώτα βήματα για να χτίσει το μέλλον του. Στοχεύουμε μέσω ειδικών τεστ
      προσωπικότητας να βοηθήσουμε τους εφήβους να επιλέξουν το καλύτερο μέλλον γι αυτούς.</p>
  </div>
</div>
{{>_footer}}