<!--====== FOOTER AREA ======-->
<footer class="footer">
  <div class="container">
    <div class="col-md-12 text-center">
      <p>&copy;2018
        <strong>ΤΑΤΙΑΝΑ ΔΗΜΗΤΡΙΟΥ</strong>
      </p>
    </div>
  </div>
</footer>
<!--====== END FOOTER AREA ======-->


<!--== plugins js ==-->
<script src="/js/plugins.js"></script>

<!--== typed js ==-->
<script src="/js/typed.js"></script>

<!--== stellar js ==-->
<script src="/js/jquery.stellar.min.js"></script>

<!--== counterup js ==-->
<script src="/js/jquery.counterup.min.js"></script>

<!--== waypoints js ==-->
<script src="/js/jquery.waypoints.min.js"></script>

<!--== wow js ==-->
<script src="/js/wow.min.js"></script>

<!--== validator js ==-->
<script src="/js/validator.min.js"></script>

<!--== mixitup js ==-->
<script src="/js/jquery.mixitup.js"></script>

<!--== contact js ==-->
<script src="/js/contact.js"></script>

<!--== main js ==-->
<script src="/js/main.js"></script>

</body>

</html>