<nav class="main-menu">
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="{{#if item_index}}active{{/if}}">
        <a class="smoth-scroll theme-color" href="/index.html">HOMΕ</a>
      </li>
      <li class="{{#if item_bio}}active{{/if}}">
        <a class="smoth-scroll theme-color" href="/bio.html">ΒΙΟΓΡΑΦΙΚO</a>
      </li>
      <li class="{{#if item_services}}active{{/if}}">
        <a class="smoth-scroll theme-color" href="/services.html">ΥΠΗΡΕΣIΕΣ</a>
      </li>
      <li class="{{#if item_gallery}}active{{/if}}">
        <a class="smoth-scroll theme-color" href="/gallery.html">GALLERY</a>
      </li>
      <li class="{{#if item_articles}}active{{/if}}">
        <a class="smoth-scroll theme-color" href="/articles.html">AΡΘΡΑ</a>
      </li>
      <li class="{{#if item_seminars}}active{{/if}}">
        <a class="smoth-scroll theme-color" href="/seminars.html">ΣΕΜΙΝΑΡΙΑ</a>
      </li>
      <li class="{{#if item_contact}}active{{/if}}">
        <a class="smoth-scroll theme-color" href="/contact.html">ΕΠΙΚΟΙΝΩΝIΑ</a>
      </li>
    </ul>
  </div>
</nav>