<!doctype html>
<html lang="el">

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="My personal website" name="description" />
    <meta name="author" content="Tatiana Dimitriou">

    <title>Tatiana Dimitriou - Personal Website</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">

    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = "2.0";
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, "script",
            "https://connect.facebook.net/en_US/fbevents.js");
        fbq("init", "1233868120083826");
        fbq("track", "PageView");
    </script>
</head>

<body>
    <img style="width: 1px;height: 1px;position: absolute;"
        src="https://www.facebook.com/tr?id=1233868120083826&ev=PageView&noscript=1" alt="facebook image" />