<div class="list-group">
  <a href="/articles/histrionic-personality-disorder.html" class="list-group-item {{#if histrionic-personality-disorder}}active{{/if}}">
    <h4 class="list-group-item-heading">Histrionic Personality Disorder</h4>
    <p class="list-group-item-text">2018-03-20</p>
  </a>
  <a href="/articles/narcissistic-personality-disorder.html" class="list-group-item {{#if narcissistic-personality-disorder}}active{{/if}}">
    <h4 class="list-group-item-heading">Ναρκισσιστικη Διαταραχη Προσωπικοτητας</h4>
    <p class="list-group-item-text">2018-03-20</p>
  </a>
  <a href="/articles/ocd.html" class="list-group-item {{#if ocd}}active{{/if}}">
    <h4 class="list-group-item-heading">Ιδεοψυχαναγκαστικη Διαταραχη</h4>
    <p class="list-group-item-text">2018-03-20</p>
  </a>
  <a href="/articles/bullying.html" class="list-group-item {{#if bullying}}active{{/if}}">
    <h4 class="list-group-item-heading">Προβλήματα Εκφοβισμού (Βullying)</h4>
    <p class="list-group-item-text">2018-01-25</p>
  </a>
  <a href="/articles/carers-counseling-support.html" class="list-group-item {{#if carers-counseling-support}}active{{/if}}">
    <h4 class="list-group-item-heading">Συμβουλευτική Υποστήριξη Φροντιστών</h4>
    <p class="list-group-item-text">2018-01-25</p>
  </a>
  <a href="/articles/coaching.html" class="list-group-item {{#if coaching}}active{{/if}}">
    <h4 class="list-group-item-heading">Coaching</h4>
    <p class="list-group-item-text">2018-01-25</p>
  </a>
  <a href="/articles/depression.html" class="list-group-item {{#if depression}}active{{/if}}">
    <h4 class="list-group-item-heading">Κατάθλιψη</h4>
    <p class="list-group-item-text">2018-01-25</p>
  </a>
  <a href="/articles/memory-test.html" class="list-group-item {{#if memory-test}}active{{/if}}">
    <h4 class="list-group-item-heading">Ψυχοδιαγνωστικά Τεστ Μνήμης</h4>
    <p class="list-group-item-text">2018-01-25</p>
  </a>
  <a href="/articles/mental-toughness.html" class="list-group-item {{#if mental-toughness}}active{{/if}}">
    <h4 class="list-group-item-heading">Νοητική Ενδυνάμωση Ασθενών</h4>
    <p class="list-group-item-text">2018-01-25</p>
  </a>
  <a href="/articles/panic.html" class="list-group-item {{#if panic}}active{{/if}}">
    <h4 class="list-group-item-heading">Κρίσεις Πανικού</h4>
    <p class="list-group-item-text">2018-01-25</p>
  </a>
  <a href="/articles/vocational-guidance.html" class="list-group-item {{#if vocational-guidance}}active{{/if}}">
    <h4 class="list-group-item-heading">Επαγγελματικός Προσανατολισμός</h4>
    <p class="list-group-item-text">2018-01-25</p>
  </a>
  <a href="/articles/dementia-and-alzheimer.html" class="list-group-item {{#if dementia-and-alzheimer}}active{{/if}}">
    <h4 class="list-group-item-heading">Συχνές Ερωτήσεις για την Άνοια και το Alzheimer</h4>
    <p class="list-group-item-text">2018-01-25</p>
  </a>
</div>