<div class="card card-articles">
  <div class="list-group list-group-flush">
    <a href="/articles/motivational.html" class="list-group-item {{#if motivational}}active{{/if}}">
      Πώς να παραμείνεις αφοσιωμένος και να μην χάνεις τα κίνητρα σου;
    </a>
    <a href="/articles/ocd-covid.html" class="list-group-item {{#if ocd-covid}}active{{/if}}">
      Iδεοψυχαναγκαστικη διαταραχη (ocd) και πανδημια covid-19 πως ο ιος επηρεαζει την εμμονη για
      πλυσιμο των χεριων
    </a>
    <a href="/articles/women-depression.html" class="list-group-item {{#if women-depression}}active{{/if}}">
      Γιατι οι γυναικες παθαινουν συχνοτερα καταθλιψη συγκριτικα με τους άντρες;
    </a>
    <a href="/articles/work-from-home.html" class="list-group-item {{#if work-from-home}}active{{/if}}">
      Εργασία από το σπίτι στον καιρό του κορονοϊού
    </a>
    <a href="/articles/workplace-bullying.html" class="list-group-item {{#if workplace-bullying}}active{{/if}}">
      Εργασιακό Bullying
    </a>
  </div>
</div>