<div class="card card-articles">
  <div class="list-group list-group-flush">
    <a href="/articles/women-depression.html" class="list-group-item {{#if women-depression}}active{{/if}}">
      Γιατι οι γυναικες παθαινουν συχνοτερα καταθλιψη συγκριτικα με τους άντρες;
      <br>
      <small>2020-01-26</small>
    </a>
    <a href="/articles/work-from-home.html" class="list-group-item {{#if work-from-home}}active{{/if}}">
      Εργασία από το σπίτι στον καιρό του κορονοϊού
      <br>
      <small>2020-06-25</small>
    </a>
    <a href="/articles/workplace-bullying.html" class="list-group-item {{#if workplace-bullying}}active{{/if}}">
      Εργασιακό Bullying
      <br>
      <small>2020-01-26</small>
    </a>
    <a href="/articles/time-management.html" class="list-group-item {{#if time-management}}active{{/if}}">
      Η σωστή διαχείριση του χρόνου
      <br>
      <small>2020-01-26</small>
    </a>
    <a href="/articles/fobias.html" class="list-group-item {{#if fobias}}active{{/if}}">
      Νευρώσεις, Φοβίες
      <br>
      <small>2019-06-27</small>
    </a>
    <a href="/articles/sad.html" class="list-group-item {{#if sad}}active{{/if}}">
      Εποχική Κατάθλιψη
      <br>
      <small>2019-06-22</small>
    </a>
    <a href="/articles/bipolar.html" class="list-group-item {{#if bipolar}}active{{/if}}">
      Διπολική Διαταραχή
      <br>
      <small>2019-06-17</small>
    </a>
    <a href="/articles/borderline-disorder.html" class="list-group-item {{#if borderline-disorder}}active{{/if}}">
      Οριακή Διαταραχή Προσωπικότητας
      <br>
      <small>2019-04-02</small>
    </a>
    <a href="/articles/personality-disorder-a.html" class="list-group-item {{#if personality-disorder-a}}active{{/if}}">
      Διαταραχές Προσωπικότητας A
      <br>
      <small>2019-04-02</small>
    </a>
    <a href="/articles/personality-disorder-b.html" class="list-group-item {{#if personality-disorder-b}}active{{/if}}">
      Διαταραχές Προσωπικότητας B
      <br>
      <small>2019-04-02</small>
    </a>
    <a href="/articles/personality-disorder-c.html" class="list-group-item {{#if personality-disorder-c}}active{{/if}}">
      Διαταραχές Προσωπικότητας C
      <br>
      <small>2019-04-02</small>
    </a>
    <a href="/articles/sexual-orientation.html" class="list-group-item {{#if sexual-orientation}}active{{/if}}">
      Σεξουαλικός Προσανατολισμός
      <br>
      <small>2019-01-03</small>
    </a>
    <a href="/articles/histrionic-personality-disorder.html"
      class="list-group-item {{#if histrionic-personality-disorder}}active{{/if}}">
      Histrionic Personality Disorder
      <br>
      <small>2018-03-20</small>
    </a>
    <a href="/articles/narcissistic-personality-disorder.html"
      class="list-group-item {{#if narcissistic-personality-disorder}}active{{/if}}">
      Ναρκισσιστικη Διαταραχη Προσωπικοτητας
      <br>
      <small>2018-03-20</small>
    </a>
    <a href="/articles/ocd.html" class="list-group-item {{#if ocd}}active{{/if}}">
      Ιδεοψυχαναγκαστικη Διαταραχη
      <br>
      <small>2018-03-20</small>
    </a>
    <a href="/articles/bullying.html" class="list-group-item {{#if bullying}}active{{/if}}">
      Προβλήματα Εκφοβισμού (Βullying)
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/carers-counseling-support.html"
      class="list-group-item {{#if carers-counseling-support}}active{{/if}}">
      Συμβουλευτική Υποστήριξη Φροντιστών
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/coaching.html" class="list-group-item {{#if coaching}}active{{/if}}">
      Coaching
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/depression.html" class="list-group-item {{#if depression}}active{{/if}}">
      Κατάθλιψη
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/memory-test.html" class="list-group-item {{#if memory-test}}active{{/if}}">
      Ψυχοδιαγνωστικά Τεστ Μνήμης
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/mental-toughness.html" class="list-group-item {{#if mental-toughness}}active{{/if}}">
      Νοητική Ενδυνάμωση Ασθενών
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/panic.html" class="list-group-item {{#if panic}}active{{/if}}">
      Κρίσεις Πανικού
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/vocational-guidance.html" class="list-group-item {{#if vocational-guidance}}active{{/if}}">
      Επαγγελματικός Προσανατολισμός
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/dementia-and-alzheimer.html" class="list-group-item {{#if dementia-and-alzheimer}}active{{/if}}">
      Συχνές Ερωτήσεις για την Άνοια και το Alzheimer
      <br>
      <small>2018-01-25</small>
    </a>
  </div>
</div>