<div class="card card-articles">
  <ul class="list-group list-group-flush">
    <a href="/articles/sexual-orientation.html" class="list-group-item {{#if sexual-orientation}}active{{/if}}">
      Σεξουαλικός Προσανατολισμός
      <br>
      <small>2019-01-03</small>
    </a>
    <a href="/articles/histrionic-personality-disorder.html" class="list-group-item {{#if histrionic-personality-disorder}}active{{/if}}">
      Histrionic Personality Disorder
      <br>
      <small>2018-03-20</small>
    </a>
    <a href="/articles/narcissistic-personality-disorder.html" class="list-group-item {{#if narcissistic-personality-disorder}}active{{/if}}">
      Ναρκισσιστικη Διαταραχη Προσωπικοτητας
      <br>
      <small>2018-03-20</small>
    </a>
    <a href="/articles/ocd.html" class="list-group-item {{#if ocd}}active{{/if}}">
      Ιδεοψυχαναγκαστικη Διαταραχη
      <br>
      <small>2018-03-20</small>
    </a>
    <a href="/articles/bullying.html" class="list-group-item {{#if bullying}}active{{/if}}">
      Προβλήματα Εκφοβισμού (Βullying)
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/carers-counseling-support.html" class="list-group-item {{#if carers-counseling-support}}active{{/if}}">
      Συμβουλευτική Υποστήριξη Φροντιστών
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/coaching.html" class="list-group-item {{#if coaching}}active{{/if}}">
      Coaching
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/depression.html" class="list-group-item {{#if depression}}active{{/if}}">
      Κατάθλιψη
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/memory-test.html" class="list-group-item {{#if memory-test}}active{{/if}}">
      Ψυχοδιαγνωστικά Τεστ Μνήμης
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/mental-toughness.html" class="list-group-item {{#if mental-toughness}}active{{/if}}">
      Νοητική Ενδυνάμωση Ασθενών
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/panic.html" class="list-group-item {{#if panic}}active{{/if}}">
      Κρίσεις Πανικού
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/vocational-guidance.html" class="list-group-item {{#if vocational-guidance}}active{{/if}}">
      Επαγγελματικός Προσανατολισμός
      <br>
      <small>2018-01-25</small>
    </a>
    <a href="/articles/dementia-and-alzheimer.html" class="list-group-item {{#if dementia-and-alzheimer}}active{{/if}}">
      Συχνές Ερωτήσεις για την Άνοια και το Alzheimer
      <br>
      <small>2018-01-25</small>
    </a>
</div>