<footer class="footer">
  <div class="container">
    <div class="col-md-12 text-center">
      <p>&copy;2018
        <strong>ΤΑΤΙΑΝΑ ΔΗΜΗΤΡΙΟΥ</strong>
      </p>
      <p class="cgeo">developed by
        <a href="http://cgeosoft.com" target="_blank">cgeosoft</a>
      </p>
    </div>
  </div>
</footer>