<div class="navbar-wrapper sticky-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">
        ΤΑΤΙΑΝΑ ΔΗΜΗΤΡΙΟΥ, PhD
        <br>
        <small>ΣΥΜΒΟΥΛΕΥΤΙΚΗ ΨΥΧΟΛΟΓΙΑ</small>
      </a>
      <button class="navbar-toggler border" aria-label="menu" data-toggle="collapse" data-target="#topMenu">
        <span class="fa fa-bars text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="topMenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{#if page_index}}active{{/if}}">
            <a class="nav-link" href="/">HOMΕ</a>
          </li>
          <li class="nav-item {{#if page_bio}}active{{/if}}">
            <a class="nav-link" href="/bio.html">ΒΙΟΓΡΑΦΙΚO</a>
          </li>
          <li class="nav-item {{#if page_services}}active{{/if}}">
            <a class="nav-link" href="/services.html">ΥΠΗΡΕΣIΕΣ</a>
          </li>
          <li class="nav-item {{#if page_gallery}}active{{/if}}">
            <a class="nav-link" href="/gallery.html">GALLERY</a>
          </li>
          <li class="nav-item {{#if page_articles}}active{{/if}}">
            <a class="nav-link" href="/articles.html">AΡΘΡΑ</a>
          </li>
          <li class="nav-item {{#if page_seminars}}active{{/if}}">
            <a class="nav-link" href="/seminars.html">ΣΕΜΙΝΑΡΙΑ</a>
          </li>
          <li class="nav-item {{#if page_quotes}}active{{/if}}">
            <a class="nav-link" href="/quotes.html">ΕΙΠΑΝ ΓΙΑ ΕΜΑΣ</a>
          </li>
          <li class="nav-item {{#if page_contact}}active{{/if}}">
            <a class="nav-link" href="/contact.html">ΕΠΙΚΟΙΝΩΝIΑ</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>