<div class="navbar-wrapper sticky-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="index.html">
        ΤΑΤΙΑΝΑ ΔΗΜΗΤΡΙΟΥ, MSc
        <br>
        <small>ΣΥΜΒΟΥΛΕΥΤΙΚΗ ΨΥΧΟΛΟΓΙΑ</small>
      </a>
      <button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#topMenu">
        <span class="fa fa-bars text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="topMenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{#if item_index}}active{{/if}}">
            <a class="nav-link" href="/index.html">HOMΕ</a>
          </li>
          <li class="nav-item {{#if item_bio}}active{{/if}}">
            <a class="nav-link" href="/bio.html">ΒΙΟΓΡΑΦΙΚO</a>
          </li>
          <li class="nav-item {{#if item_services}}active{{/if}}">
            <a class="nav-link" href="/services.html">ΥΠΗΡΕΣIΕΣ</a>
          </li>
          <li class="nav-item {{#if item_gallery}}active{{/if}}">
            <a class="nav-link" href="/gallery.html">GALLERY</a>
          </li>
          <li class="nav-item {{#if item_articles}}active{{/if}}">
            <a class="nav-link" href="/articles.html">AΡΘΡΑ</a>
          </li>
          <li class="nav-item {{#if item_seminars}}active{{/if}}">
            <a class="nav-link" href="/seminars.html">ΣΕΜΙΝΑΡΙΑ</a>
          </li>
          <li class="nav-item {{#if item_quotes}}active{{/if}}">
            <a class="nav-link" href="/quotes.html">ΕΙΠΑΝ ΓΙΑ ΕΜΑΣ</a>
          </li>
          <li class="nav-item {{#if item_contact}}active{{/if}}">
            <a class="nav-link" href="/contact.html">ΕΠΙΚΟΙΝΩΝIΑ</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>