@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import "../../node_modules/bootstrap/scss/bootstrap";
$color-main: #7b6d69;
$color-secondary: #357277;
$color-third: #dacea2;
body,
html {
  @extend .h-100;
}

.navbar-wrapper {
  background: $color-main;
  box-shadow: none;
  .container {
    .navbar {
      padding: 0;
      height: 75px;
      .navbar-brand {
        @extend .text-white;
        text-align: center;
        font-family: Helvetica;
        padding: 0;
        line-height: 1.2rem;
        font-size: 1.3rem;
        font-weight: bold;
        small {
          color: #fdfdfd;
          font-weight: normal;
        }
        &:hover {
          text-decoration: none;
        }
      }
      .navbar-nav {
        @extend .ml-auto;
        @extend .mr-0;
        background: $color-main;
        li {
          > a {
            @extend .text-nowrap;
            @extend .text-center;
            color: #fff;
            font-size: 0.9rem;
            padding: 0 10px;
            height: 75px;
            line-height: 75px;
            &:hover {
              background-color: darken($color-main, 10%);
              text-decoration: none;
            }
          }
          &.active {
            background-color: $color-secondary;
            > a {
              &:hover {
                background-color: darken($color-secondary, 10%);
              }
            }
          }
        }
      }
    }
  }
}

.wrapper {
  @extend .d-flex;
  @extend .flex-column;
  @extend .h-100;
  @extend .w-100;
  margin-top: -75px;
  top: 0;
}

section {
  @extend .mb-4;
  padding-top: 75px;
  .title {
    h2 {
      @extend .text-center;
      @extend .p-4;
      color: $color-third;
      font-size: 3rem;
      font-weight: 300;
    }
  }
  h4 {
    @extend .border-bottom;
    @extend .pb-3;
    @extend .mb-3;
    font-weight: 300;
  }
}

.welcome {
  background-size: cover;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(/img/bg.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  top: 0;
  .welcome-text {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5rem;
    color: darken($color-secondary, 20%);
    font-weight: bold;
  }
}

.footer {
  @extend .mt-auto;
  background-color: #333;
  color: #ccc;
  min-height: 50px;
  padding-top: 5px;
  .cgeo {
    font-size: 10px;
    line-height: 10px;
    color: #ccc;
  }
  a {
    color: darken($color-secondary, 20%);
    color: #fff;
  }
  p {
    margin: 0;
  }
}

.services {
  .card {
    margin-bottom: 1rem;
    height: 600px;
    ul {
    }
    img {
      height: 100px;
      margin-bottom: 1rem;
    }
    .head {
      @extend .align-text-bottom;
      margin-top: 10px;
      height: 5rem;
      text-align: center;
    }
    .card-body {
      padding: 3rem;
    }
  }
  h3 {
    padding-top: 40px;
  }
  &.services-sm {
    .container {
      max-width: 720px;
    }
  }
}

.quotes {
  .card {
    border-left-width: 10px;
    p:last-child {
      margin: 0;
    }
  }
}

.seminars {
  .times {
    color: #6eabaf;
    font-size: 3rem;
    display: block;
  }
}

.card-articles {
  @extend .mt-4;
  @extend .border-0;
  .list-group-item {
    color: #ffffff;
    background: $color-main;
    border-color: darken($color-main, 10%);
    &.active {
      background: $color-secondary;
      border-color: darken($color-secondary, 20%);
      &:hover {
        background: darken($color-secondary, 10%);
        border-color: darken($color-secondary, 10%);
      }
    }
    &:hover {
      background: darken($color-main, 10%);
      border-color: darken($color-main, 10%);
    }
    small {
      display: none;
    }
  }
}

.empty-articles {
  text-align: center;
  padding-top: 150px;
  color: #999;
  .icon {
    font-size: 10rem;
    margin-bottom: 15px;
  }
  p {
    font-size: 2rem;
  }
}

.espa-banner {
  width: 100%;
  background: #fff;
  text-align: center;
  img {
    max-height: 100px;
  }
}
